<form onkeypress="return tabOnEnter(document.activeElement, event);" onsubmit="return false;" name="frmadmin" method="post" action="?eda_act=<?=md5('general')?>&eda_code=<?= md5('add_emp_sm')?>" style="margin:0px">
      <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom:0px;border-left:0px;border-right:0px;">
        <tr>
        <td width="30" align="center">
          <img style="cursor:pointer;" src="<?=ROOT_URL?>/bms/images/icon/emp.png" width="18" height="18"/>        
          </td>
          <td  height="25"><b>Thêm nhân viên mới</b></td>
        <td align="right" style="padding-right:5px;"><img onclick="window.location='?eda_act=<?=md5('general')?>&eda_code=<?= md5('emp_manager')?>';" style="cursor:pointer;" src="<?=ROOT_URL?>/bms/images/icon/back.gif" height="18"/></td>
        </tr>
        </table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td style="padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;">        
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="25" width="160" align="left"><b>(*) Tên đăng nhập</b></td>
              <td width="180"><input style="width:150px;" class="catbg" name="user_name" id="user_name" type="text" value="<?= isset($return_val['user_name'])?$return_val['user_name']:''?>" /></td>
              <td height="25" align="left" style="padding-left:20px;"><b>(*) Tên  nhân viên</b></td>
              <td>
        <input style="width:150px;" class="catbg" class="textbox" value="<?= isset($return_val['full_name'])?$return_val['full_name']:''?>" name="full_name" id="full_name" type="text" />                          
               </td>
            </tr>
            <tr>
              <td height="25" width="160" align="left"><b>(*) Mật khẩu</b></td>
              <td width="180"><input style="width:150px;" class="catbg" name="password" id="password" type="password" value="<?= isset($return_val['password'])?$return_val['password']:''?>" /></td>
              <td height="25" align="left" style="padding-left:20px;"><b>(*) Quốc gia</b></td>
              <td>
                <select onchange="load_page(cur_page);" style="width:150px;" class="catbg" name="nation_id" type="text" id="nation_id">
                  <option disabled>Chọn quốc gia</option>
                  <?php
                    $nation_list=get_data("select * from nation order by nation_id");
                    for($i=0;$i<count($nation_list);$i++) {
                      echo '<option '.(isset($return_val['nation_id'])?($return_val['nation_id']==$nation_list[$i]['nation_id']?'selected':''):'').' attrX="'.$nation_list[$i]['nation_code'].'" attrY="'.$nation_list[$i]['nation_name'].'" value="'.$nation_list[$i]['nation_id'].'">'.$nation_list[$i]['nation_name'].'</option>';
                    }
                  ?>  
                </select>
                <input id="nation_code" hidden value="VN">
                <input id="nation_name" hidden value="Việt Nam">
               </td>
            </tr>            
            <tr>
              <td height="25" align="left"><b>(*) Nhập lại mật khẩu</b></td>
              <td>
        <input style="width:150px;" class="catbg" class="textbox" value="<?= isset($return_val['password_confirm'])?$return_val['password_confirm']:''?>" name="password_confirm" id="password_confirm" type="password" />                          
              </td>
              <td height="25" align="left" style="padding-left:20px;"><b>(*) Thành phố</b></td>
              <td>
                  <select onchange="load_page(cur_page);" style="width:150px;" class="catbg" name="city_id" type="text" id="city_id">
                  <option disabled>Chọn thành phố</option>
                  <?php
                    $city_list = get_data("select * from city order by city_name");
                    for($i=0;$i<count($city_list);$i++) {
                      if ($city_list[$i]['nation_id'] == 1)
                      echo '<option '.(isset($return_val['city_id'])?($return_val['city_id']==$city_list[$i]['city_id']?'selected':''):'').' attrX="'.$city_list[$i]['city_code'].'" attrY="'.$city_list[$i]['city_name'].'" value="'.$city_list[$i]['city_id'].'">'.$city_list[$i]['city_name'].'</option>';
                    }
                  ?>  
                </select>
                <input id="city_code" hidden value="HN">
                <input id="city_name" hidden value="Hà Nội">
              </td>             
            </tr>
            <tr>
              <td height="25" width="160" align="left"><b>Địa chỉ</b></td>
              <td>
                <input style="width:150px;" class="catbg" name="address" id="address" type="text" value="<?= isset($return_val['address'])?$return_val['address']:''?>" />
              </td>
              <td height="25" align="left" style="padding-left:20px;"><b>Điện thoại</b></td>
              <td>
                <input style="width:150px;" class="catbg" name="tel" id="tel" type="text" value="<?= isset($return_val['tel'])?$return_val['tel']:''?>" />
              </td>   
            </tr>
            <tr>
      <td  height="25"><b>Tên Phòng/Ban</b></td>
      <td>
      <select onchange="load_page(cur_page);" style="width:150px;" class="catbg" name="dept_id" type="text" id="dept_id">
    <?php
      $dept=get_data("select * from dept order by dept_name");
      for($i=0;$i<count($dept);$i++) {
        echo '<option '.(isset($return_val['dept_id'])?($return_val['dept_id']==$dept[$i]['dept_id']?'selected':''):'').' value="'.$dept[$i]['dept_id'].'">'.$dept[$i]['dept_name'].'</option>';
      }
    ?>  
      </select>
      </td>    
      <td  height="25" style="padding-left:20px;"><b>Nhóm làm việc</b></td>
      <td>
      <select onchange="load_page(cur_page);" style="width:150px;" class="catbg" name="group_id" type="text" id="group_id">
    <?php
      $group=get_data("select * from groups order by group_name");
      for($i=0;$i<count($group);$i++) {
        echo '<option '.(isset($return_val['group_id'])?($return_val['group_id']==$group[$i]['group_id']?'selected':''):'').' value="'.$group[$i]['group_id'].'">'.$group[$i]['group_name'].'</option>';
      }
    ?>  
      </select>
      </td>               
            </tr>
            <tr>
              <td height="25" align="left"><b>Giới tính</b></td>
              <td>
        <select style="width:150px;" class="catbg" class="textbox"  name="sex" id="sex">                          
        <option <?=(isset($return_val['sex'])?($return_val['sex']==0?'selected':''):'')?> value="0">Nam</option>
        <option <?=(isset($return_val['sex'])?($return_val['sex']==1?'selected':''):'')?> value="1">Nữ</option>
        </select>
              </td>
              <td height="25" align="left" style="padding-left:20px;"><b>Email</b></td>
              <td>
      <input style="width:150px;" class="catbg" name="email" id="email" type="text" value="<?= isset($return_val['email'])?$return_val['email']:''?>" />
              </td>             
            </tr>    
            <tr>
              <td height="25" align="left"><b>Ghi chú</b></td>
              <td colspan="3"><textarea  style="width:525px;" class="catbg" name="description" type="text" id="description" cols="80" rows="3"><?= isset($return_val['description'])?$return_val['description']:''?></textarea></td>             
            </tr>                                    
          </table>
  <?= !empty($err_msg)?'<table width="95%"  border="0" cellpadding="0" cellspacing="0"><tr><td height="25" style="padding-top:10px;"><font color=red><b>'.$err_msg.'</b><br></font></td></tr></table>':''?> 

</td></tr>
</table>
  <table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
    <td height=5><img src="<?=ROOT_URL?>/bms/images/spacer.gif" height=5></td>
        </tr>
  </table>
        <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top:0px;border-left:0px;border-right:0px;">
        <tr>
          <td  height="30" style="padding-left:5px;">
          <input style="font-weight:bold;cursor:pointer;"  onclick="document.forms[0].submit();" class="button" type="button" name="button" value="Lưu nhân viên" />
          </td>
        <td align="right" style="padding-right:5px;"><img  onclick="window.location='?eda_act=<?=md5('general')?>&eda_code=<?= md5('emp_manager')?>';" style="cursor:pointer;" src="<?=ROOT_URL?>/bms/images/icon/back.gif" height="18"/></td>
        </tr>
        </table>          
   </form>

<script type="text/javascript">
  $(document).ready(function () {
    $('#city_id').on('change', function(){
      $('#city_code').val($('#city_id option:selected').attr('attrX'));
      $('#city_name').val($('#city_id option:selected').attr('attrY'));
    });

    $('#nation_id').on('change', function(){
          var nation = $(this).val();
          if (nation){
            $('#city_id').html('');
            $('#city_code').val('');
            $('#city_name').val('');

            $('#nation_code').val($('#nation_id option:selected').attr('attrX'));
            $('#nation_name').val($('#nation_id option:selected').attr('attrY'));

            $('#city_id').append('<option selected disabled>Chọn thành phố</option>');
            <?php for ($i = 0; $i < count($city_list); $i++) { ?>
              if (nation == <?=$city_list[$i]['nation_id'];?>){
                $('#city_id').append('<option value="' + <?="'".$city_list[$i]['city_id']."'";?> + '" attrX="' + <?="'".$city_list[$i]['city_code']."'";?> + '" attrY="' + <?="'".$city_list[$i]['city_name']."'";?> + '">' + <?="'".$city_list[$i]['city_name']."'";?> + '</option>');
              }
            <?php } ?>
          }
     });
  });
</script>

