<?php $data=get_data("select * from currency order by currency_code, currency_name"); ?>
<table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom:0px;border-left:0px;border-right:0px;" id="div_title_page">
    <tr>
        <td width="30" align="center">
            <img style="cursor:pointer;" src="<?=ROOT_URL?>/bms/images/icon/contacts.png" width="18" height="18" />
        </td>
        <td height="25"><b>Quản lý Loại tiền</b></td>
        <td align="right" style="padding-right:5px;"><img onclick="window.location='?';" style="cursor:pointer;" src="<?=ROOT_URL?>/bms/images/icon/back.gif" height="18" /></td>
    </tr>
</table>

<div style="margin: 10px;" id="div_contenttable">
	<input hidden id="table_name" value="currency">
	<div style="width: 978px;">
		<table id="contenttable" class="table table-striped display nowrap" cellspacing="0" style="width: 99.5%">
			<thead>
				<tr>
					<th class="editor-cancel" col-name="STT" width="10%">STT</th>
					<th col-name="currency_id"></th>
					<th col-name="currency_code">Mã loại tiền</th>
					<th col-name="currency_name">Diễn giải</th>
				</tr>
			</thead>
			<tbody>
				<?php $index = 1; 
					for($i=0; $i < count($data); $i++){?>	
					<tr>
						<td contenteditable="true" align="center"><?=$index++;?></td>
						<td contenteditable="true" align="center"><?=$data[$i]['currency_id'];?></td>
						<td contenteditable="true" align="center"><?=$data[$i]['currency_code'];?></td>
						<td contenteditable="true" align="center"><?=$data[$i]['currency_name'];?></td>
					</tr>
				<?php } ?>
			</tbody>
		</table>
	</div>
</div>

<?php
	include("bms/templates/add_row_popup.htm");
?>

<input id="editor-input" hidden="">

<script type="text/javascript">
	$(document).ready(function () {
		var tbl 			= $('#contenttable'),
			_columns 		= ['STT', 'currency_id', 'currency_code', 'currency_name'];

		var dataTbl = tbl.newDataTable({
			scrollY: '55vh',
			columnDefs: [
				{ type: "num", className: "text-center", targets: _columns.indexOf('STT') },
				{ className: "text-center", targets: _columns.getIndexs(['currency_code', 'currency_name'])},
				{ className: "hiden-input", targets: _columns.getIndexs(['currency_id'])},
			],
			order: [[ _columns.indexOf('STT'), 'asc' ]],
			paging: false,
			keys: true,
            autoFill: {
                focus: 'focus'
            },
            select: true,
            rowReorder: false,
            arrayColumns: _columns,
		});
		tbl.editableTableWidget();
		tbl.initComplete({
			ADD: 'ADD',
			SAVE: 'SAVE',
			DELETE: 'DELETE'
		});
});
</script>
