<form onkeypress="return tabOnEnter(document.activeElement, event);" onsubmit="return false;" name="frmadmin" method="post" action="?eda_act=<?= md5('general') ?>&eda_code=<?= md5('edit_sup_sm') ?>&eda_id=<?= $action->eda_id ?>" style="margin:0px">
    <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom:0px;border-left:0px;border-right:0px;">
        <tr>
            <td width="30" align="center">
                <img style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/about.gif" width="18" height="18"/>        
            </td>
            <td  height="25"><b>Sửa thông tin nhà cung cấp</b></td>
            <td align="right" style="padding-right:5px;"><img onclick="window.location='?eda_act=<?= md5('general') ?>&eda_code=<?= md5('sup_manager') ?>';" style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/back.gif" height="18"/></td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr><td style="padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;">        
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="25" width="160" align="left"><b>(*) Tên nhà cung cấp</b></td>
                        <td width="180"><input style="width:180px;" class="catbg" name="sup_name" id="sup_name" type="text" value="<?= isset($return_val['sup_name']) ? $return_val['sup_name'] : '' ?>" /></td>
                        <td width="120" height="25" align="left" style="padding-left:20px;"><b>Mã nhà CC</b></td>
                        <td>
                            <input style="width:180px;" class="catbg" name="sup_code" id="sup_code" type="text" value="<?= isset($return_val['sup_code']) ? $return_val['sup_code'] : '' ?>" />                          
                        </td>
                    </tr>
                    <tr>
                        <td height="25" align="left"><b>Email</b></td>
                        <td>
                            <input style="width:180px;" class="catbg" name="email" id="email" type="text" value="<?= isset($return_val['email']) ? $return_val['email'] : '' ?>" />
                        </td>
                        <td height="25" align="left" style="padding-left:20px;"><b>Website</b></td>
                        <td>
                            <input style="width:180px;" class="catbg" class="textbox" value="<?= isset($return_val['website']) ? $return_val['website'] : '' ?>" name="website" id="website" type="text" />
                        </td>             
                    </tr>
                    <tr>
                        <td height="25" align="left"><b>Mã số thuế</b></td>
                        <td>
                            <input style="width:180px;" class="catbg" name="tax_no" id="tax_no" type="text" value="<?= isset($return_val['tax_no']) ? $return_val['tax_no'] : '' ?>" />
                        </td>
                        <td height="25" align="left" style="padding-left:20px;"><b>Số ĐKKD</b></td>
                        <td>
                            <input style="width:180px;" class="catbg" class="textbox" value="<?= isset($return_val['reg_no']) ? $return_val['reg_no'] : '' ?>" name="reg_no" id="reg_no" type="text" />
                        </td>             
                    </tr>   
                    <tr>
                        <td height="25" align="left"><b>Số tài khoản</b></td>
                        <td>
                            <input style="width:180px;" class="catbg" name="bank_acc" id="bank_acc" type="text" value="<?= isset($return_val['bank_acc']) ? $return_val['bank_acc'] : '' ?>" />
                        </td>
                        <td height="25" align="left" style="padding-left:20px;"><b>Tại ngân hàng</b></td>
                        <td>
                            <input style="width:180px;" class="catbg" class="textbox" value="<?= isset($return_val['bank_name']) ? $return_val['bank_name'] : '' ?>" name="bank_name" id="bank_name" type="text" />
                        </td>             
                    </tr>        
                    <tr>
                        <td height="25" align="left"><b>Địa chỉ</b></td>
                        <td>
                            <input style="width:180px;" class="catbg" class="textbox" value="<?= isset($return_val['address']) ? $return_val['address'] : '' ?>" name="address" id="address" type="text" />
                        </td>             
                        <td height="25" align="left" style="padding-left:20px;"><b>Dư nợ đầu kỳ</b></td>
                        <td>
                            <input style="width:180px;" class="catbg number_change" value="<?= isset($return_val['debt']) ? $return_val['debt'] : '' ?>" name="debt" id="debt" type="text" />
                        </td>   
                    </tr>  
                    <tr>
                        <td height="25" align="left"><b>Điện thoại</b></td>
                        <td colspan="3">
                            <input style="width:180px;" class="catbg" name="tel" id="tel" type="text" value="<?= isset($return_val['tel']) ? $return_val['tel'] : '' ?>" />
                        </td>              			  
                    </tr>              
                    <tr>
                        <td height="25" align="left"><b>Ghi chú</b></td>
                        <td colspan="3"><textarea  style="width:500px;" class="catbg" name="description" type="text" id="description" cols="80" rows="4"><?= isset($return_val['description']) ? $return_val['description'] : '' ?></textarea></td>             
                    </tr>                                   
                </table>
                <?= !empty($err_msg) ? '<table width="95%"  border="0" cellpadding="0" cellspacing="0"><tr><td height="25" style="padding-top:10px;"><font color=red><b>' . $err_msg . '</b><br></font></td></tr></table>' : '' ?> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet"/>
<script>
    var optselect="<?php
$fundt=dequy_fund_type(loadloop());
$optselect="";
foreach ($fundt as $key => $value) {
        if($value['ft_level']>0)
        {
            $optselect.= '<option value=\''.$value['fund_type_code'].'\'>'.$value['fund_type_name'].'</option>';
        }
        else
            $optselect.= '<optgroup label=\''.$value['fund_type_name'].'\'></optgroup>';
}
echo $optselect;
?>";

$(document).ready(function(){
    $(".fund_type").each(function(){
    $(this).val($(this).attr("value")).trigger("change");
    });
    $(document).on("input",".number_change",function(){
        format(this);
    });
    $(".number_change").each(function(){
        format(this);
    });
});
</script>

<table width="100%" border="0" cellspacing="0" cellpadding="0"  style="display: none">
    <tr>
        <td>
            <br>
            <h3>Thông tin tài khoản</h3>
        </td>
    </tr>
    <tr>
                        <td height="25" width="160" align="left"><b>Tài khoản : </b></td>
                        <td colspan=3>
                            <select style="width:500px;" class="catbg fund_type" name="taikhoan" id="taikhoan" type="text" value="<?= isset($return_val['taikhoan']) ? $return_val['taikhoan'] : '' ?>" ><?=$optselect;?></select>
                        </td>
                        
                    </tr>
                    <tr>
                        <td height="25" width="160" align="left"><b>Dự nợ : </b></td>
                        <td width="180">
                            <input style="width:180px;" class="catbg number_change" name="duno" id="duno" type="text" value="<?= isset($return_val['duno']) ? $return_val['duno'] : '' ?>" /> 
                        </td>
                        <td width="120" height="25" align="left" style="padding-left:20px;"><b>Dư có : </b></td>
                        <td>
                            <input style="width:180px;" class="catbg number_change" name="duco" id="duco" type="text" value="<?= isset($return_val['duco']) ? $return_val['duco'] : '' ?>" />                          
                        </td>
                    </tr>

                    <tr>
                        <td height="25" width="160" align="left"><b>Dự nợ ngoại tệ : </b></td>
                        <td width="180">
                            <input style="width:180px;" class="catbg number_change" name="duno_nt" id="duno_nt" type="text" value="<?= isset($return_val['duno_nt']) ? $return_val['duno_nt'] : '' ?>" /> 
                        </td>
                        <td width="120" height="25" align="left" style="padding-left:20px;"><b>Dự có ngoại tệ : </b></td>
                        <td>
                            <input style="width:180px;" class="catbg number_change" name="duco_nt" id="duco_nt" type="text" value="<?= isset($return_val['duco_nt']) ? $return_val['duco_nt'] : '' ?>" />                          
                        </td>
                    </tr>

                    <tr>
                        <td height="25" width="160" align="left"><b>Dư nợ đầu năm : </b></td>
                        <td width="180">
                            <input style="width:180px;" class="catbg number_change" name="duno_dn" id="duno_dn" type="text" value="<?= isset($return_val['duno_dn']) ? $return_val['duno_dn'] : '' ?>" /> 
                        </td>
                        <td width="120" height="25" align="left" style="padding-left:20px;"><b>Dư có đầu năm : </b></td>
                        <td>
                            <input style="width:180px;" class="catbg number_change" name="duco_dn" id="duco_dn" type="text" value="<?= isset($return_val['duco_dn']) ? $return_val['duco_dn'] : '' ?>" />                          
                        </td>
                    </tr>

                    <tr>
                        <td height="25" width="160" align="left"><b>Dư nợ ngoại tệ đầu năm : </b></td>
                        <td width="180">
                            <input style="width:180px;" class="catbg number_change" name="duno_ntdn" id="duno_ntdn" type="text" value="<?= isset($return_val['duno_ntdn']) ? $return_val['duno_ntdn'] : '' ?>" /> 
                        </td>
                        <td width="120" height="25" align="left" style="padding-left:20px;"><b>Dư có ngoại tệ đầu năm : </b></td>
                        <td>
                            <input style="width:180px;" class="catbg number_change" name="duco_ntdn" id="duco_ntdn" type="text" value="<?= isset($return_val['duco_ntdn']) ? $return_val['duco_ntdn'] : '' ?>" />                          
                        </td>
                    </tr>

                </table>







            </td></tr>
    </table>
    <table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height=5><img src="<?=ROOT_URL?>bms/images/spacer.gif" height=5></td>
        </tr>
    </table>
    <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top:0px;border-left:0px;border-right:0px;">
        <tr>
            <td  height="30" style="padding-left:5px;">
                <input style="font-weight:bold;cursor:pointer;" onclick="document.forms[0].submit();" class="button" type="button" name="button" value="Lưu nhà cung cấp" />
            </td>
            <td align="right" style="padding-right:5px;"><img  onclick="window.location='?eda_act=<?= md5('general') ?>&eda_code=<?= md5('sup_manager') ?>';" style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/back.gif" height="18"/></td>
        </tr>
    </table>          
</form>

