<?php
	$mat=get_data("select mat.*, cat.cat_name from materials mat, categories cat where cat.cat_id=mat.cat_id ".(!empty($_GET['mat_name'])?" and mat.mat_name like '%".$_GET['mat_name']."%'":"")." ".(!empty($_GET['cat_id'])?" and mat.cat_id = '".$_GET['cat_id']."'":"")." order by mat.mat_name  limit ".(30*($action->eda_page-1)).",30");
	$mat_count=get_data("select count(*) from materials mat, categories cat where  cat.cat_id=mat.cat_id ".(!empty($_GET['mat_name'])?" and mat.mat_name like '%".$_GET['mat_name']."%'":"")." ".(!empty($_GET['cat_id'])?" and mat.cat_id = '".$_GET['cat_id']."'":""));
	$mat_count=$mat_count[0][0];
?>
	<table width="100%"  border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
	    <tr>
		<td align="center" bgcolor="#afd7ff" height="25"><b>Tên sản phẩm</b></td>
		<td width="15%" align="center" bgcolor="#afd7ff"><b>Mã sản phẩm</b></td>
		<td width="15%" align="center" bgcolor="#afd7ff"><b>Chủng loại</b></td>
        <td width="10%" align="center" bgcolor="#afd7ff"><b>Mã vạch</b></td>
        <td width="10%" align="center" bgcolor="#afd7ff"><b>Đơn vị tính</b></td>
                <?php
                $chk_priv = check_func('view_input_price');
                if ($chk_priv) {
                    ?>                  
                <td width="10%" align="center" bgcolor="#afd7ff"><b>Giá bán</b></td>
                <td width="10%" align="center" bgcolor="#afd7ff"><b>Đơn giá TB</b></td>
                <?php
                }
                ?>
		<td width="5%" align="center" bgcolor="#afd7ff"><b>Sửa</b></td>
		<td width="5%" align="center" bgcolor="#afd7ff"><b>Xoá</b></td>	
		</tr>
<?php
	if(count($mat)>0)
	for($i=0;$i<count($mat);$i++)
	{
                $mat_more=get_data("select mms.price, mms.mms_id, msu.msu_id, msu.msu_name from mat_msu mms, meansure msu where mms.mat_id=".$mat[$i]['mat_id']." and mms.msu_id=msu.msu_id and msu.msu_multiple=1");            
                if(count($mat_more)==0) {
                    $mat_more=get_data("select mms.price, mms.mms_id, msu.msu_id, msu.msu_name from mat_msu mms, meansure msu where mms.mat_id=".$mat[$i]['mat_id']." and mms.msu_id=msu.msu_id limit 1");            
                }
                $mat[$i]['msu_name']='';
                $mat[$i]['mms_id']=0;
                $mat[$i]['msu_id']=0;
                $mat[$i]['price']=0;
                if(count($mat_more)>0) {
                    $mat[$i]['msu_name']=$mat_more[0]['msu_name'];
                    $mat[$i]['mms_id']=$mat_more[0]['mms_id'];
                    $mat[$i]['msu_id']=$mat_more[0]['msu_id'];
                    $mat[$i]['price']=$mat_more[0]['price'];
                }
?>		
		<tr class="tr_row_tty" mms_id="<?= $mat[$i]['mms_id']?>">
		<td style="padding-left:5px;" class="mat_name" contenteditable="true"><?= $mat[$i]['mat_name']?></td>
		<td class="mat_model" align="center" contenteditable="true"><?= $mat[$i]['mat_model']?></td>
		<td class="cat_name" align="center" ><?= $mat[$i]['cat_name']?></td>
        <td style="padding:5px;"><a href="javascript:void(0);" onclick="if('<?= $mat[$i]['barcode']?>'=='')alert('Sản phẩm chưa khai báo mã vạch, hãy sửa sản phẩm và khai báo mã vạch'); else window.open('?eda_act=<?=md5('general')?>&eda_code=<?= md5('barcode')?>&eda_type=ajax&t=m&eda_id=<?= $mat[$i]['mat_id']?>');" class="cart_payment"><img  style="cursor:pointer;" onmouseover="obj_filter(this,80);" onmouseout="obj_filter(this,100);" src="<?=ROOT_URL?>/bms/images/icon/barcode.png" height="18" border="0" align="left"> In ấn</a></td>
        <td align="center"><?= $mat[$i]['msu_name']?></td>
                <?php
                if ($chk_priv) {
                    $edate = mktime(23, 59, 59, date('m'), date('d'), date('Y'));
                    $q_tmp = $this->get_instock($mat[$i], mktime(23, 59, 59, date('m'), date('d'), date('Y')),null);
                    $mat_quantity = $q_tmp['sum'];
                    $mat_instock=$mat_quantity;
                    $mat_in = get_data("select invd.mat_quantity, invd.amount from invoices inv, invoice_details invd  where inv.inv_id=invd.inv_id  and inv.created_date<=" . $edate . " and invd.mms_id ='" . $mat[$i]['mms_id'] . "' and inv.inv_type=1   order by inv.created_date desc");
                    $sum_amount = 0;
                    $sum_quantity = 0;
                    for ($t = 0; $t < count($mat_in) && $sum_quantity + $mat_in[$t]['mat_quantity'] <= $mat_instock; $t++) {
                        $sum_amount+=$mat_in[$t]['amount'];
                        $sum_quantity+=$mat_in[$t]['mat_quantity'];
                    }
                    if ($sum_quantity < $mat_instock) {
                        $instk = get_data("select instock, price from stock_mat_msu where mms_id='" . $mat[$i]['mms_id'] . "' and price>0 " . (!empty($_GET['stock_id']) ? " and stock_id = '" . $_GET['stock_id'] . "'" : "") . " order by smm_id desc limit 0,1");
                        if(count($instk)==0) {
                            $instk = get_data("select instock, price from stock_mat_msu where mms_id='" . $mat[$i]['mms_id'] . "' and price>0 order by smm_id desc limit 0,1");
                        }
                        if (count($instk) > 0) {
                            $sum_amount+=($mat_instock - $sum_quantity) * $instk[0]['price'];
                        } else {
                            $msp = get_data("select msp.smm_id, smm.mms_id, mms.msu_id from mat_split msp, stock_mat_msu smm, mat_msu mms where msp.smm_id in (select smm.smm_id from stock_mat_msu smm, mat_msu mms where mms.mat_id='" . $mat[$i] ["mat_id"] . "' and smm.mms_id=mms.mms_id" . (!empty($_GET['stock_id']) ? " and smm.stock_id = '" . $_GET['stock_id'] . "'" : "") . ")   and " . $mat [$i] ["msu_id"] . " in(msp.msu_list)  and msp.smm_id=smm.smm_id and smm.mms_id=mms.mms_id order by msp.msp_id desc limit 0,1");
                            if (count($msp) > 0) {
                                $m_in = get_data("select invd.amount/invd.mat_quantity amount  from invoices inv, invoice_details invd  where inv.inv_id=invd.inv_id  and inv.created_date<=" . $edate . " and invd.mms_id ='" . $msp[0]['mms_id'] . "' and inv.inv_type=1   order by inv.created_date desc");
                                if (count($m_in) > 0) {
                                    $msu = get_data("select msu_multiple from meansure where msu_parid='" . $mat [$i] ["msu_id"] . "' and msu_id='" . $msp[0]['msu_id'] . "'");
                                    if (count($msu) > 0) {
                                        $sum_amount+=($mat_instock - $sum_quantity) * $m_in[0][0] / $msu[0][0];
                                    } else {
                                        $sum_amount+=($mat_instock - $sum_quantity) * (isset($mat_in[$t]) ? $mat_in[$t]['amount'] / $mat_in[$t]['mat_quantity'] : (isset($mat_in[$t - 1]) ? $mat_in[$t - 1]['amount'] / $mat_in[$t - 1]['mat_quantity'] : 0));
                                    }
                                } else {
                                    $sum_amount+=($mat_instock - $sum_quantity) * (isset($mat_in[$t]) ? $mat_in[$t]['amount'] / $mat_in[$t]['mat_quantity'] : (isset($mat_in[$t - 1]) ? $mat_in[$t - 1]['amount'] / $mat_in[$t - 1]['mat_quantity'] : 0));
                                }
                            } else {
                                $sum_amount+=($mat_instock - $sum_quantity) * (isset($mat_in[$t]) ? $mat_in[$t]['amount'] / $mat_in[$t]['mat_quantity'] : (isset($mat_in[$t - 1]) ? $mat_in[$t - 1]['amount'] / $mat_in[$t - 1]['mat_quantity'] : 0));
                            }
                        }
                        $sum_quantity+=$mat_instock - $sum_quantity;
                    }
                    ?>                  
                <td class="price" align="right" style="padding-right:5px;" contenteditable="true"><?= number_format($mat[$i]['price'], 0, '', ' ')?></td>
                <td class="pr_a" align="right" style="padding-right:5px;" ><?=$mat_quantity>0?number_format($sum_amount/$mat_quantity, 0, '', ' '):0?></td>
                <?php
                }
                ?>
		<td align="center" height="25"><a href="?eda_act=<?=md5('general')?>&eda_code=<?= md5('edit_mat')?>&eda_id=<?= $mat[$i]['mat_id']?>" class="cart_payment"><img  style="cursor:pointer;" onmouseover="obj_filter(this,80);" onmouseout="obj_filter(this,100);" src="<?=ROOT_URL?>/bms/images/icon/edit_f2.png" width="16" border="0"></a></td>
		<td align="center" height="25"><a href="javascript:void()" onclick="if(confirm('Bạn có chắc chắn muốn xoá sản phẩm này không?'))window.location='?eda_act=<?=md5('general')?>&eda_code=<?= md5('del_mat')?>&eda_id=<?= $mat[$i]['mat_id']?>';" class="cart_payment"><img  style="cursor:pointer;" onmouseover="obj_filter(this,80);" onmouseout="obj_filter(this,100);" src="<?=ROOT_URL?>/bms/images/icon/cancel_f2.png" width="16" border="0"></a></td>
	    </tr>
<?php
	}
?>	    
	</table>
	<table width="100%" border="0" cellpadding="0" cellspacing="0"  style="border-collapse:collapse">
	    <tr><td height="25" align="center">	
<?php	
			if($mat_count>0)
			{
					echo '<b>Trang: </b>';
					$page=ceil($mat_count/30);
					$start_page=$action->eda_page-10;
					echo ' <a class="cart_payment" href="javascript:load_mat_page(1);">';
					if($action->eda_page==1)
						echo "<font color='blue' face='arial' style='font-size:12px;'><b>";
					echo "1";
					if($action->eda_page==1)
					echo "</b></font>";
					echo '</a> ';							
					if($start_page<2)
						$start_page=1;
					else
						echo " ... ";
					$end_page=$action->eda_page+10;
					if($end_page>$page)
						$end_page=$page-1;						
					for($i=$start_page;$i<$end_page;$i++)
					{
						echo ' <a class="cart_payment" href="javascript:load_mat_page('.($i+1).');">';
						if($action->eda_page==$i+1)
							echo "<font color='blue' face='arial' style='font-size:12px;'><b>";
						echo ($i+1);
						if($action->eda_page==$i+1)
						echo "</b></font>";
						echo '</a> ';
					}
					if($action->eda_page+11<$page)
						echo " ... ";
					if($page>1)
					{
						echo ' <a class="cart_payment" href="javascript:load_mat_page('.$page.');">';
						if($action->eda_page==$page)
							echo "<font color='blue' face='arial' style='font-size:12px;'><b>";
						echo ($page);
						if($action->eda_page==$page)
						echo "</b></font>";
						echo '</a> ';							
					}
			}
			else
				echo '<table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>Không có sản phẩm nào được tìm thấy</td></tr></table>';	
?>	
	</td></tr>
	</table>				
		
<script type="text/javascript">
    
    $(document).ready(function(){



        $(document).on("keypress",".tr_row_tty td",function(e){
            var x = e.which || e.keyCode;
            console.log(x);
            
            $(this).closest(".tr_row_tty").addClass("editing");
            if(x==13){
                e.preventDefault();
                var arr=[];
                $(".tr_row_tty.editing").each(function(){
                    var dt={};
                    dt['mms_id']=$(this).attr("mms_id");
                    $(this).find("td[contenteditable='true']").each(function(){                        

                        dt[$(this).attr("class")+'']=$(this).text();                        

                    });
                    arr.push(dt);
                });
                console.log("test:",arr);

                $.ajax({
                    url: "<?php echo "?eda_act=".md5('api') . '&eda_code=' . md5('save_mat');?>",
                    dataType: 'json',
                    data: {"data":arr},
                    type: 'POST',
                    success: function (data) {
                        if(data.success){
                            alert(data.success);
                        }

                    },
                    error: function(err){

                    }
                });




            }
        });




    });
</script>