<?php
	$sup=get_data("select * from supliers where 1=1 ".(!empty($_GET['sup_name'])?" and sup_name like '%".$_GET['sup_name']."%'":"")." order by sup_name ".($action->eda_code!=md5('view_report')?" limit ".((14*($action->eda_page-1)).",14"):''));
        if($action->eda_code!=md5('view_report')) {
            $sup_count=get_data("select count(*) from supliers  where 1=1 ".(!empty($_GET['sup_name'])?" and sup_name like '%".$_GET['sup_name']."%'":""));
            $sup_count=$sup_count[0][0];
        }
?>
	<table width="100%" id="sup_tbl" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse;<?=$action->eda_code!=md5('view_report')?'':'margin-top:10px;'?>">
	    <tr>
                <?php
                if($action->eda_code==md5('view_report')) {
                    echo '<td width="8%" align="center" bgcolor="#afd7ff" height="25"><b>STT</b></td>';
                }
                ?>                
                <td width="12%" align="center" bgcolor="#afd7ff" height="25"><b>Mã công ty</b></td>
		<td width="20%" align="center" bgcolor="#afd7ff" height="25"><b>Tên công ty</b></td>
		<td align="center" bgcolor="#afd7ff"><b>Địa chỉ</b></td>
		<td width="15%" align="center" bgcolor="#afd7ff"><b>Điện thoại</b></td>
		<td width="25%" align="center" bgcolor="#afd7ff"><b>Website</b></td>
                <?php
                if($action->eda_code!=md5('view_report')) {
                ?>                   
		<td width="5%" align="center" bgcolor="#afd7ff"><b>Sửa</b></td>
		<td width="5%" align="center" bgcolor="#afd7ff"><b>Xoá</b></td>	
                <?php
                }
                ?>                
		</tr>
<?php
	if(count($sup)>0)
	for($i=0;$i<count($sup);$i++)
	{
?>		
		<tr  <?= $action->eda_type!='ajax'?' style="cursor:pointer;" onmouseover="this.style.backgroundColor=\'yellow\';" onmouseout="this.style.backgroundColor=\'\';"':''?> >
                <?php
                if($action->eda_code==md5('view_report')) {
                    echo '<td align="center" height="25">'.($i+1).'</td>';
                }
                ?>                     
                <td onclick="window.location='?eda_act=<?=md5('general').'&eda_code='.md5('view_sup').'&eda_id='.$sup[$i]['sup_id']?>';" style="padding-left:5px;"><?= $sup[$i]['sup_code']?></td>
		<td onclick="window.location='?eda_act=<?=md5('general').'&eda_code='.md5('view_sup').'&eda_id='.$sup[$i]['sup_id']?>';" style="padding-left:5px;"><?= $sup[$i]['sup_name']?></td>
		<td onclick="window.location='?eda_act=<?=md5('general').'&eda_code='.md5('view_sup').'&eda_id='.$sup[$i]['sup_id']?>';" style="padding-left:5px;"><?= $sup[$i]['address']?></td>
		<td onclick="window.location='?eda_act=<?=md5('general').'&eda_code='.md5('view_sup').'&eda_id='.$sup[$i]['sup_id']?>';" style="padding-left:5px;"><?= $sup[$i]['tel']?></td>
		<td onclick="window.location='?eda_act=<?=md5('general').'&eda_code='.md5('view_sup').'&eda_id='.$sup[$i]['sup_id']?>';" style="padding-left:5px;"><a class="cart_payment" href="<?= $sup[$i]['website']?>" target="_blank"><?= $sup[$i]['website']?></a></td>
                <?php
                if($action->eda_code!=md5('view_report')) {
                ?>                    
		<td align="center" height="25"><a href="?eda_act=<?=md5('general')?>&eda_code=<?= md5('edit_sup')?>&eda_id=<?= $sup[$i]['sup_id']?>" class="cart_payment"><img  style="cursor:pointer;" onmouseover="obj_filter(this,80);" onmouseout="obj_filter(this,100);" src="<?=ROOT_URL?>/bms/images/icon/edit_f2.png" width="16" border="0"></a></td>
		<td align="center" height="25"><a href="javascript:void()" onclick="if(confirm('Bạn có chắc chắn muốn xoá thông tin nhà cung cấp này không?'))window.location='?eda_act=<?=md5('general')?>&eda_code=<?= md5('del_sup')?>&eda_id=<?= $sup[$i]['sup_id']?>';" class="cart_payment"><img  style="cursor:pointer;" onmouseover="obj_filter(this,80);" onmouseout="obj_filter(this,100);" src="<?=ROOT_URL?>/bms/images/icon/cancel_f2.png" width="16" border="0"></a></td>
                <?php
                }
                ?>                
	    </tr>
<?php
	}
?>	    
	</table>
<?php
if($action->eda_code!=md5('view_report')) {
?>
	<table width="100%" border="0" cellpadding="0" cellspacing="0"  style="border-collapse:collapse">
	    <tr><td height="25" align="center">	
<?php	
			if($sup_count>0)
			{
					echo '<b>Trang: </b>';
					$page=ceil($sup_count/14);
					$start_page=$action->eda_page-10;
					echo ' <a class="cart_payment" href="javascript:load_page(1);">';
					if($action->eda_page==1)
						echo "<font color='blue' face='arial' style='font-size:12px;'><b>";
					echo "1";
					if($action->eda_page==1)
					echo "</b></font>";
					echo '</a> ';							
					if($start_page<2)
						$start_page=1;
					else
						echo " ... ";
					$end_page=$action->eda_page+10;
					if($end_page>$page)
						$end_page=$page-1;						
					for($i=$start_page;$i<$end_page;$i++)
					{
						echo ' <a class="cart_payment" href="javascript:load_page('.($i+1).');">';
						if($action->eda_page==$i+1)
							echo "<font color='blue' face='arial' style='font-size:12px;'><b>";
						echo ($i+1);
						if($action->eda_page==$i+1)
						echo "</b></font>";
						echo '</a> ';
					}
					if($action->eda_page+11<$page)
						echo " ... ";
					if($page>1)
					{
						echo ' <a class="cart_payment" href="javascript:load_page('.$page.');">';
						if($action->eda_page==$page)
							echo "<font color='blue' face='arial' style='font-size:12px;'><b>";
						echo ($page);
						if($action->eda_page==$page)
						echo "</b></font>";
						echo '</a> ';							
					}
			}
			else
				echo '<table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td>Không có nhà cung cấp nào được tìm thấy</td></tr></table>';	
?>	
	</td></tr>
	</table>				
<?php
}
?>	
