      <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom:0px;border-left:0px;border-right:0px;">
        <tr>
        <td width="30" align="center">
          <img style="cursor:pointer;" src="<?=ROOT_URL?>/bms/images/icon/about.gif" width="18" height="18"/>        
          </td>
          <td  height="25"><b>Xem thông tin nhà cung cấp</b></td>
        <td align="right" style="padding-right:5px;"><img onclick="history.go(-1);" style="cursor:pointer;" src="<?=ROOT_URL?>/bms/images/icon/back.gif" height="18"/></td>
        </tr>
        </table>
<?php
	$return_val=get_data("select * from supliers where sup_id='".$action->eda_id."'");
	if(count($return_val)>0)
	{
		$return_val=$return_val[0];
?>        
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td style="padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;">        
      <table width="100%" border="1" borderColor="#cccccc" cellspacing="5" cellpadding="5" style="border-collapse:collapse">
            <tr>
              <td height="25" width="160" align="left"><b>Tên nhà cung cấp</b></td>
              <td width="180"><?= isset($return_val['sup_name'])?$return_val['sup_name']:''?></td>
              <td width="120" height="25" align="left"><b>Mã nhà CC</b></td>
              <td>
		<?= isset($return_val['sup_code'])?$return_val['sup_code']:''?>                         
               </td>
            </tr>
            <tr>
              <td height="25" align="left"><b>Email</b></td>
              <td>
              <?= isset($return_val['email'])?$return_val['email']:''?>
              </td>
              <td height="25" align="left"><b>Website</b></td>
              <td>
			<?= isset($return_val['website'])?$return_val['website']:''?>
              </td>             
            </tr>
            <tr>
              <td height="25" align="left"><b>Mã số thuế</b></td>
              <td>
              <?= isset($return_val['tax_no'])?$return_val['tax_no']:''?>
              </td>
              <td height="25" align="left"><b>Số ĐKKD</b></td>
              <td>
			<?= isset($return_val['reg_no'])?$return_val['reg_no']:''?>
              </td>             
            </tr>   
            <tr>
              <td height="25" align="left"><b>Số tài khoản</b></td>
              <td>
              <?= isset($return_val['bank_acc'])?$return_val['bank_acc']:''?>
              </td>
              <td height="25" align="left"><b>Tại ngân hàng</b></td>
              <td>
			<?= isset($return_val['bank_name'])?$return_val['bank_name']:''?>
              </td>             
            </tr>        
              <td height="25" align="left"><b>Điện thoại</b></td>
              <td>
			<?= isset($return_val['tel'])?$return_val['tel']:''?>
              </td>  
              <td height="25" align="left"><b>Dư nợ đầu kỳ</b></td>
              <td>
			<?= isset($return_val['debt'])?$return_val['debt']:''?>
              </td>              
            <tr>
              <td height="25" align="left"><b>Địa chỉ</b></td>
              <td colspan="3">
			<?= isset($return_val['address'])?$return_val['address']:''?>
              </td>             
            </tr>                             
            <tr>
              <td height="25" align="left"><b>Ghi chú</b></td>
              <td colspan="3"><?= isset($return_val['description'])?$return_val['description']:''?></td>             
            </tr>                                   
          </table>
</td></tr>
</table>
<?php
	}
	else
		echo 'Không tìm thấy nhà cung cấp';
?>
	<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	      <tr>
		<td height=5><img src="<?=ROOT_URL?>/bms/images/spacer.gif" height=5></td>
	      </tr>
	</table>
        <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top:0px;border-left:0px;border-right:0px;">
        <tr>
          <td  height="30" style="padding-left:5px;">
          
          </td>
        <td align="right" style="padding-right:5px;"><img  onclick="history.go(-1);" style="cursor:pointer;" src="<?=ROOT_URL?>/bms/images/icon/back.gif" height="18"/></td>
        </tr>
        </table>          

