.hiden-input, .hidden-input{
    display:none!important;
}
.ui-loader{
    display: none;
}
.card-box{
    background-color: white!important;
    margin-bottom: 10px;
    padding: 14px;
}

.collapsible-box i.la.dock-right {
    right: 10px;
    position: absolute;
    margin-top: 19px;
    color: #aaa;
    cursor: pointer;
}

.dropdown-menu.show[x-placement="top-start"] {
    top: 74px!important;
}

input[readonly]{
    background-color: #fff!important;
}

.input-hidden {
    display: none!important;
}

.m-row-selected{
    background-color: #fff9d2 !important;
}

.m-row-selected td {
    color: #097692;
}
@media (orientation:portrait) {
    label.col-form-label {
        display: none!important;
    }
}

.input-required.error:not(td){
    border: solid 1px #ff9c91 !important ;
}
td.input-required.error, td.error{
    background-color: #ff9c91 !important;
    color: #fff !important;
}

td.input-required.error input{
    color: #fff !important;
}

.border-e{
    -moz-border-radius: 4px!important;
    -webkit-border-radius: 4px!important;
    -ms-border-radius: 4px!important;
    -o-border-radius: 4px!important;
    border-radius: 4px!important;
    border: 1px solid #eee!important;
}
.bg-f9{
    background-color: #f9f9f9!important;
}
a.linked:hover {text-decoration: underline; cursor: pointer;}


/*autocompletext*/
.ui-corner-all
{
    -moz-border-radius: 4px 4px 4px 4px;
}
.ui-widget
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px;
}
.ui-menu
{
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
}
.ui-autocomplete
{
    cursor: default;
    position: absolute;
    border: solid 1px #9EBAE0;
    margin-top: 100px;
    background-color: #fff;
    z-index: 99;
}
.ui-menu .ui-menu-item
{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ui-menu .ui-menu-item div
{
    display: block;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    cursor: pointer;
}
.ui-menu .ui-menu-item div:hover
{
    display: block;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    color: White;
    cursor: pointer;
    background-color: #9EBAE0!important;
}
.ui-widget-content div
{
    color: #222222;
}
/*end autocompletext*/

.wrap-text {
    white-space:normal!important;
}

.width-250{
    width: 250px!important;
}
.width-300{
    width: 300px!important;
}
.width-350{
    width: 350px!important;
}

i.spinner{
    animation: spinner-rotate 1.5s linear infinite;
    font-size: 25px;
}

button i.spinner{
    animation: spinner-rotate 1.5s linear infinite;
    font-size: 18px!important;
    margin-right: auto 0;
    margin-right: .5rem;
}

@-webkit-keyframes spinner-rotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes spinner-rotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.button-bar-group{
    float: right;
}

.btn-default {
    color: #333;
    background-color: #fcfcfc;
    border-color: #ddd;
}

.btn-group-xs>.btn, .btn-xs {
    padding: 5px 17px;
    font-size: 12px;
    line-height: 1.6666667;
    border-radius: 2px;
}

.ibox-head{
    min-height: 50px!important;
}

/*add new by haro 14/12/2018*/
.dropdown-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

.show-table.dropdown-toggle:after {
    margin-left: 0!important;
}

.lower-text{
    text-transform: lowercase!important;
}

/*add new by haro 20/12/2018*/
.modal-content{
    border-radius: 3px!important;
}

/*add new 02/01/2019*/
.page-content{
    margin-top: 15px!important;
}

.my-box{
    -moz-box-shadow: 1px 1px 0px #ccc;
    -webkit-box-shadow: 1px 1px 0px #ccc;
    box-shadow: 1px 1px 0px #ccc;
    -moz-border-radius: 4px!important;
    -webkit-border-radius: 4px!important;
    -ms-border-radius: 4px!important;
    -o-border-radius: 4px!important;
    border-radius: 4px!important;
    border: 1px solid #eee!important;
    background-color: #fff!important;
}


table.dataTable tbody td.show-more,
table.dataTable tbody td.show-dropdown{
    position: relative;
    padding-right: 24px!important;
}

td.show-dropdown::after{
    display: none;
    float: right;
    font-family: "FontAwesome";
    font-weight: 500;
    font-size: 20px;
    content: "\f0dd";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    right: 1px;
    top: 43%;
    transform: translate(-50%, -50%);
}

td.show-more::after{
    display: none;
    float: right;
    font-family: "FontAwesome";
    font-weight: 500;
    font-size: 15px;
    content: "\f141";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translate(-50%, -50%);
}

td.show-more:hover::after,
td.show-dropdown:hover::after{
    display: inline-block;
}
.row.form-group .col-form-label{
    white-space: nowrap !important;
}
#livestream_scanner .viewport{
    position: relative;
}
#livestream_scanner .viewport video{
    width: 100% !important;
    max-width: 100% !important;
    height: auto;
}
#livestream_scanner .viewport canvas{
    position: absolute;
    left: 0px;
    top:0px;
}
.drawingBuffer{
    position: absolute;
    left: 0px;
}
#user_fullname {
            display: inherit!important;
        }
        .app-title {
            font-family: LineAwesome, serif;
            background-color: transparent;
            color: #fc4920;
            padding-top: 1rem;
        }
        .brand-font {
            font-family: Helvetica Neue, Helvetica, Arial, serif;
            text-shadow: 0 1px 1px #bbb,
            0 2px 0 #999,
            0 3px 0 #888,
            0 4px 0 #777,
            0 5px 0 #666,
            0 6px 0 #555,
            0 7px 0 #444,
            0 8px 0 #333,
            0 9px 7px #302314;
            background-color: transparent;
        }
        .icon-bar-cl{
            background-color: #fc4920;
        }
        #alogout {
            padding-left: 10px;
        }
        #user-info:hover, #alogout:hover{
            color: #3300aa;
        }
        @media (max-width: 960px) {
            .app-title{
                padding-left: 0px !important;
                padding-top: 10px;
            }
            .app-title::after{
                content: 'PHẦN MỀM QUẢN LÝ KHO';
                font-size: 12px;
            }
            #right-out {
                font-size: 2vw;
            }
        }
        @media (max-width: 960px) and (orientation: landscape) {
            .app-title{
                padding-top: 1.05rem;
            }
            .app-title::after{
                content: 'PHẦN MỀM QUẢN LÝ KHO';
                font-size: 3vw;
            }
            #right-out {
                font-size: 1.75vw;
            }
        }
        @media (min-width: 960px) and (max-width: 1280px) {
            .app-title::after{
                content: 'PHẦN MỀM QUẢN LÝ KHO';
                font-size: 2.1vw;
            }
            #right-out {
                font-size: 1.5vw;
            }
        }
        @media (min-width: 1366px) {
            .app-title{
                padding-top: 1rem;
            }
            .app-title::after{
                content: 'PHẦN MỀM QUẢN LÝ KHO';
            }
        }
        .content-wrapper{
            
            background: url('../img/register-bgr-3.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
@media only screen and (max-width: 768px) {
    .button-bar-group{
        text-align: right;
    }
  .button-bar-group .btn{
    margin-bottom:5px;
    margin-top:5px;
    max-width: 33px;
    }
    .button-bar-group .btn .fa{
        padding-right: 50px;
    }
    .button-bar-group .btn:hover{
        max-width: inherit !important;
        width: auto;
        min-width: auto;
    }
    .button-bar-group .btn:hover .fa{
        padding-right: 5px;
    }
    .datatable-header{
        margin-top:5px;
    }
    table.mobile_tbl{
            display:block;
        }
        table.mobile_tbl *{
            box-sizing: border-box;
        }
        table.mobile_tbl .dataTables_scrollBody{
            overflow: unset;
        }
        table.mobile_tbl thead{
            display: none !important;
        }
        table.mobile_tbl tbody{
            display:block;
        }
        table.mobile_tbl tbody tr{
            display:block;
            position: relative;
            white-space: normal;
            border-bottom: 1px solid #dedede;
        }
        table.mobile_tbl tbody tr:nth-child(odd){
            background-color: #b6b6b6;

        }
        table.mobile_tbl tbody tr td{
            display:inline-block;
            border:none !important;
            box-sizing: border-box;
            min-width: 49%;
            text-align: left !important;
        }
}
@media only screen and (max-width: 700px) {
    .dropdown-menu.dropdown-arrow.dropdown-menu-right.admin-dropdown-menu.show{
            margin-top: 0px;
    width: 100vw;
    transform: none !important;
    right: 0px !important;
    left: inherit !important;
    top: 66px !important;
    height: 100vh;
    }
}
