<Script type="text/javascript" src="bms/common/CalendarPopup.js"></Script>
<script language="javaScript" id="jscal1x">
    var cal = new CalendarPopup("calendarpopup");
    cal.setTodayText("Hôm nay");
    cal.showNavigationDropdowns();
    cal.setYearSelectStartOffset(20);
    cal.setMonthNames("Tháng 1","Tháng 2","Tháng 3","Tháng 4","Tháng 5","Tháng 6","Tháng 7","Tháng 8","Tháng 9","Tháng 10","Tháng 11","Tháng 12");
    cal.setDayHeaders("CN","T2","T3","T4","T5","T6","T7");
</script>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<DIV ID="calendarpopup" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;z-index:100;"></DIV>
<form onkeypress="return tabOnEnter(document.activeElement, event);" onsubmit="return false;" name="frmadmin" method="post" action="?eda_act=<?= md5('waranty') ?>&eda_code=<?= md5('waranty_in_sm') ?>" style="margin:0px">
    <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom:0px;border-left:0px;border-right:0px;">
        <tr>
            <td width="30" align="center">
                <img style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/waranty_in.png" width="18" height="18"/>
            </td>
            <td  height="25"><b>Phiếu nhận Bảo hành - Dịch vụ</b></td>
            <td align="right" style="padding-right:5px;"><img onclick="window.location='?';" style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/back.gif" height="18"/></td>
        </tr>
    </table>
    <?php
    if (!isset($return_val['full_name'])) {
        $usr = get_data("select full_name from users where user_id='" . $sessions->get_session('user_id') . "'");
        if (count($usr) > 0) {
            $return_val['full_name'] = $usr[0][0];
            $return_val['created_user'] = $sessions->get_session('user_id');
            $return_val['full_name_get'] = $usr[0][0];
            $return_val['user_id'] = $sessions->get_session('user_id');
        }
    }
    ?>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr><td style="padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;">
                <table width="780" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="25" width="180" align="left"><b>Người nhận</b></td>
                        <td width="200">
                            <input  value="<?= isset($return_val['created_user']) ? $return_val['created_user'] : '' ?>"  name="created_user" type="hidden" id="created_user" size="25" />
                            <input readonly value="<?= isset($return_val['full_name']) ? $return_val['full_name'] : '' ?>" style="width:200px;" class="catbg" name="full_name" type="text" id="full_name" size="25" />
                        </td>
                        <td height="25" width="110" align="left" style="padding-left:20px;"><b>Thời gian nhận</b></td>
                        <td>
                            <table  border="0" cellspacing="0" cellpadding="0">
                                <tr><td>
                                        <input readonly  style="width:90px;" class="catbg"  onclick="cal.select(document.getElementById('date'),'anchor1','dd/MM/yyyy');if(document.getElementById('date').value==''){d = new Date(); CP_refreshCalendar(0,1+d.getMonth(),d.getFullYear())};  return false;" class="textbox" value="<?= isset($return_val['date']) ? $return_val['date'] : gmdate('d/m/Y', time() + 7 * 3600) ?>" onBlur="check_date(this);" name="date" id="date" type="text" />
                                    </td><td>
                                        <A href="javascript:void()" onclick="cal.select(document.getElementById('date'),'anchor1','dd/MM/yyyy'); if(document.getElementById('date').value==''){d = new Date(); CP_refreshCalendar(0,1+d.getMonth(),d.getFullYear())}; return false;"><img  NAME="anchor1" ID="anchor1" src="<?=ROOT_URL?>bms/images/icon/calendar.gif" height="18" border="0"></A>
                                    </td><td>
                                        <select onchange="date_change();" style="width:40px;" class="catbg" name="hour" id="hour" type="text" >
                                            <?php
                                            for ($i = 0; $i < 24; $i++)
                                                echo '<option  ' . (isset($return_val['date']) ? ($return_val['hour'] == $i ? 'selected' : '') : ($i == gmdate('H', time() + 7 * 3600) ? 'selected' : '')) . ' value="' . $i . '">' . str_pad($i, 2, '0', STR_PAD_LEFT) . '</option>';
                                            ?>
                                        </select>
                                    </td><td><b>&nbsp;:&nbsp;</b></td>
                                    <td><select  onchange="date_change();" style="width:40px;" class="catbg" name="minute" id="minute" type="text" >
                                            <?php
                                            for ($i = 0; $i < 60; $i++)
                                                echo '<option ' . (isset($return_val['date']) ? ($return_val['minute'] == $i ? 'selected' : '') : ($i == gmdate('i', time() + 7 * 3600) ? 'selected' : '')) . ' value="' . $i . '">' . str_pad($i, 2, '0', STR_PAD_LEFT) . '</option>';
                                            ?>
                                        </select>
                                    </td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="25" align="left"><b>Bộ phận xử lý</b></td>
                        <td>
                            <select style="width:200px;" class="catbg" name="dept_id"  id="dept_id">
                                <?php
                                $dept = get_data("select * from waranty_dept dept_name");
                                for ($i = 0; $i < count($dept); $i++) {
                                    echo '<option ' . (isset($return_val['dept_id']) ? ($return_val['dept_id'] == $dept[$i]['dept_id'] ? 'selected' : '') : '') . ' value="' . $dept[$i]['dept_id'] . '">' . $dept[$i]['dept_name'] . '</option>';
                                }
                                ?>
                            </select>
                        </td>
                        <td height="25" align="left" style="padding-left:20px;"><b>Số phiếu</b></td>
                        <td>
                            <input readOnly value="<?= isset($return_val['inv_no']) ? $return_val['inv_no'] : '' ?>" style="width:200px;" class="catbg" name="inv_no" type="text" id="inv_no" size="25" />
                        </td>
                    </tr>
                    <tr>
                        <td height="25" align="left"><b>Người tiếp nhận xử lý</b></td>
                        <td>
                            <input  value="<?= isset($return_val['user_id']) ? $return_val['user_id'] : '' ?>"  name="user_id" type="hidden" id="user_id" size="25" />
                            <input readonly value="<?= isset($return_val['full_name_get']) ? $return_val['full_name_get'] : '' ?>" style="width:165px;" class="catbg" name="full_name_get" type="text" id="full_name_get" size="25" />
                            <input type="button" style="width:30px;" class="button" onclick="browse_emp();" name="browser" id="browser" value="...">
                        </td>                        
                        <td height="25" align="left" style="padding-left:20px;"><b>Địa chỉ liên hệ</b></td>
                        <td>
                            <input  value="<?= isset($return_val['address']) ? $return_val['address'] : '' ?>" style="width:200px;" class="catbg" name="address" type="text" id="address" size="25" />
                        </td>
                    </tr>
                    <tr>
                        <td height="25" align="left"><b>(*) Khách hàng</b></td>
                        <td>
                            <input  value="<?= isset($return_val['cus_id']) ? $return_val['cus_id'] : '' ?>"  name="cus_id" type="hidden" id="cus_id" size="25" />
                            <input value="<?= isset($return_val['cus_name']) ? $return_val['cus_name'] : '' ?>" style="width:165px;" class="catbg" name="cus_name" type="text" id="cus_name" size="25" />
                            <input type="button" style="width:30px;" class="button" onclick="browse_cus();" id="cus_browser" name="browse" value="...">
                        </td>                        

                        <td height="25" align="left" style="padding-left:20px;"><b>Điện thoại</b></td>
                        <td>
                            <input value="<?= isset($return_val['tel']) ? $return_val['tel'] : '' ?>" style="width:200px;" class="catbg" name="tel" type="text" id="tel" size="25" />
                        </td>                        
                    </tr>
                    <tr>
                        <td height="25" align="left"><b>Ghi chú</b></td>
                        <td colspan="3"><textarea  style="width:535px;" class="catbg" name="comment" type="text" id="comment" cols="80" rows="4" /><?= isset($return_val['comment']) ? $return_val['comment'] : '' ?></textarea></td>
                    </tr>
                </table>
                <?= !empty($err_msg) ? '<table width="95%"  border="0" cellpadding="0" cellspacing="0"><tr><td height="25" style="padding-top:10px;"><font color=red><b>' . $err_msg . '</b><br></font></td></tr></table>' : '' ?>
                <table width="100%"  border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td height="40"><b>DANH SÁCH SẢN PHẨM - DỊCH VỤ</b></td>
                    </tr>
                </table>
                <table width="780" id="mat_tbl" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td width="295" align="center" bgcolor="#afd7ff" height="25"><b>Sản phẩm/Dịch vụ</b></td>
                            <td width="90" align="center" bgcolor="#afd7ff"><b>Số lượng</b></td>
                            <td width="160" align="center" bgcolor="#afd7ff"><b>Serial</b></td>
                            <td width="200" align="center" bgcolor="#afd7ff"><b>Tình trạng</b></td>
                            <td  align="center" bgcolor="#afd7ff"><input type="button" onclick="addrow('mat_tbl');" style="width:25px;" class="button" name="add_mat" value="+"></td>
                        </tr>
                        <?php
                        if (isset($return_val['oinvd_id']))
                            for ($i = 0; $i < count($return_val['oinvd_id']); $i++)
                                if (!empty($return_val['oinvd_id'][$i]) || !empty($return_val['mat_name'][$i])) {
                                    ?>
                                    <tr>
                                        <td align="center" height="25"><input  value="<?= $return_val['oinvd_id'][$i] ?>"  name="oinvd_id[]" type="hidden" id="oinvd_id_<?= $i ?>" size="25" />
                                            <input readonly style="width:260px;" value="<?= $return_val['mat_name'][$i] ?>"  class="catbg" name="mat_name[]" type="text" id="mat_name_<?= $i ?>" size="25" /><input type="button" style="width:30px;" class="button" id="<?= $i ?>" onclick="browse_mat(<?= $i ?>)" name="browse_mat[]" value="...">
                                        </td>
                                        <td align="center"><input style="width:80px;" value="<?= $return_val['quantity'][$i] ?>"  class="catbg" name="quantity[]" type="text" id="quantity_<?= $i ?>" size="25" /></td>
                                        <td align="center"><input type="text" class="catbg" id="serial_<?= $i ?>" style="width:150px;"  name="serial[]" value="<?= $return_val['serial'][$i] ?>"></td>
                                        <td align="center"><input style="width:190px;" value="<?= $return_val['warn_desc'][$i] ?>"  class="catbg" name="warn_desc[]" type="text" id="warn_desc_<?= $i ?>" size="25" /></td>
                                        <td align="center"><input type="button" style="width:25px;" class="button" onclick="delRow(this);" name="del_user[]" value="-"></td>
                                    </tr>
                                    <?php
                                }
                        ?>
                        <tr>
                            <td align="center" height="25"><input  value=""  name="oinvd_id[]" type="hidden" id="oinvd_id_<?= isset($return_val['oinvd_id']) ? count($return_val['oinvd_id']) : 0 ?>" size="25" />
                                <input  style="width:260px;" value=""  class="catbg" name="mat_name[]" type="text" id="mat_name_<?= isset($return_val['oinvd_id']) ? count($return_val['oinvd_id']) : 0 ?>" size="25" /><input type="button" style="width:30px;" class="button" id="<?= isset($return_val['oinvd_id']) ? count($return_val['oinvd_id']) : 0 ?>" onclick="browse_mat(<?= isset($return_val['oinvd_id']) ? count($return_val['oinvd_id']) : 0 ?>)" name="browse_mat[]" value="...">
                            </td>
                            <td align="center"><input  style="width:80px;" value=""  class="catbg" name="quantity[]" type="text" id="quantity_<?= isset($return_val['oinvd_id']) ? count($return_val['oinvd_id']) : 0 ?>" size="25" /></td>
                            <td align="center"><input  type="text" class="catbg" name="serial[]" id="serial_<?= isset($return_val['oinvd_id']) ? count($return_val['oinvd_id']) : 0 ?>" style="width:150px;"></td>
                            <td align="center"><input   style="width:190px;" value=""  class="catbg" name="warn_desc[]" type="text" id="warn_desc_<?= isset($return_val['oinvd_id']) ? count($return_val['oinvd_id']) : 0 ?>" size="25" /></td>
                            <td align="center"><input type="button" style="width:25px;" class="button" onclick="delRow(this);" name="del_user[]" value="-"></td>
                        </tr>
                    </tbody>
                </table>
            </td></tr>
    </table>
    <table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height=5><img src="<?=ROOT_URL?>bms/images/spacer.gif" height=5></td>
        </tr>
    </table>
    <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top:0px;border-left:0px;border-right:0px;">
        <tr>
            <td  height="30" style="padding-left:5px;">
                <input style="font-weight:bold;cursor:pointer;" onclick="document.forms[0].submit();" class="button" type="button" name="sm" value="Lưu phiếu" />
            </td>
            <td align="right" style="padding-right:5px;"><img  onclick="window.location='?';" style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/back.gif" height="18"/></td>
        </tr>
    </table>
</form>
<style>
    #searchcusdiv,#searchmatdiv, #searchempdiv, #serialdiv{
        position:absolute;
        left:0px;
        top:20px;
        width:550px;
        height:450px;
        z-index:2;
    }
    #searchcusiframe,#searchmatiframe, #searchempiframe, #serialiframe {
        position:absolute;
        left:0px;
        top:20px;
        width:546px;
        height:446px;
        z-index:1;
    }
</style>
<iframe id="searchcusiframe" style="visibility:hidden;"></iframe>
<div  id="searchcusdiv" style="visibility:hidden;">
    <table  bgcolor="#ffffff" width="550" border="0" height="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td height="25" valign=top align=center width="100%">
                <table height="25" width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td width="94%" height="25" id="searchcushead" background="<?=ROOT_URL?>bms/images/head_bg.gif"  onmouseover="this.style.cursor='move';"  onmousedown="divclick('searchcus',event);" style="color:white;"><b>&nbsp;&nbsp;Danh sách khách hàng</b></td>
                        <td width="3%" height="25" align="right" background="<?=ROOT_URL?>bms/images/head_bg.gif">
                            <img onmouseover="this.style.cursor='pointer'; this.src='bms/images/minimize2.gif';" onmouseout=" this.src='bms/images/minimize.gif';" src="<?=ROOT_URL?>bms/images/minimize.gif" width="21" height="21" onclick="hidediv('searchcus');" /></td>
                        <td width="3%" height="25" align="right" background="<?=ROOT_URL?>bms/images/head_bg.gif" style="padding-right:2px;"><img onmouseover="this.style.cursor='pointer'; this.src='bms/images/close2.gif';" onmouseout=" this.src='bms/images/close.gif';" src="<?=ROOT_URL?>bms/images/close.gif" width="21" height="21" onclick="this.src='bms/images/close.gif';closediv('searchcus');"></td>
                    </tr>
                </table>
            </td></tr>
        <tr>
            <td style="border: 1px #2BCAFF solid" width="100%" align=center valign=top>
                <div id="searchcusid">
                    <?php
                    include("bms/templates/search_cus.htm");
                    ?>
                </div>
            </td>
        </tr>
    </table>
</div>
<iframe id="searchmatiframe" style="visibility:hidden;"></iframe>
<div  id="searchmatdiv" style="visibility:hidden;">
    <table  bgcolor="#ffffff" width="550" border="0" height="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td height="25" valign=top align=center width="100%">
                <table height="25" width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td width="94%" height="25" id="searchmathead" background="<?=ROOT_URL?>bms/images/head_bg.gif"  onmouseover="this.style.cursor='move';"  onmousedown="divclick('searchmat',event);" style="color:white;"><b>&nbsp;&nbsp;Danh sách sản phẩm</b></td>
                        <td width="3%" height="25" align="right" background="<?=ROOT_URL?>bms/images/head_bg.gif">
                            <img onmouseover="this.style.cursor='pointer'; this.src='bms/images/minimize2.gif';" onmouseout=" this.src='bms/images/minimize.gif';" src="<?=ROOT_URL?>bms/images/minimize.gif" width="21" height="21" onclick="hidediv('searchmat');" /></td>
                        <td width="3%" height="25" align="right" background="<?=ROOT_URL?>bms/images/head_bg.gif" style="padding-right:2px;"><img onmouseover="this.style.cursor='pointer'; this.src='bms/images/close2.gif';" onmouseout=" this.src='bms/images/close.gif';" src="<?=ROOT_URL?>bms/images/close.gif" width="21" height="21" onclick="this.src='bms/images/close.gif';closediv('searchmat');"></td>
                    </tr>
                </table>
            </td></tr>
        <tr>
            <td style="border: 1px #2BCAFF solid" width="100%" align=center valign=top>
                <div id="searchmatid">
                    <?php
                    include("bms/templates/waranty/search_mat_waranty.htm");
                    ?>
                </div>
            </td>
        </tr>
    </table>
</div>
<iframe id="searchempiframe" style="visibility:hidden;"></iframe>
<div  id="searchempdiv" style="visibility:hidden;">
    <table  bgcolor="#ffffff" width="550" border="0" height="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td height="25" valign=top align=center width="100%">
                <table height="25" width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td width="94%" height="25" id="searchuserhead" background="<?=ROOT_URL?>bms/images/head_bg.gif"  onmouseover="this.style.cursor='move';"  onmousedown="divclick('searchemp',event);" style="color:white;"><b>&nbsp;&nbsp;Danh sách nhân viên</b></td>
                        <td width="3%" height="25" align="right" background="<?=ROOT_URL?>bms/images/head_bg.gif">
                            <img onmouseover="this.style.cursor='pointer'; this.src='bms/images/minimize2.gif';" onmouseout=" this.src='bms/images/minimize.gif';" src="<?=ROOT_URL?>bms/images/minimize.gif" width="21" height="21" onclick="hidediv('searchuser');" /></td>
                        <td width="3%" height="25" align="right" background="<?=ROOT_URL?>bms/images/head_bg.gif" style="padding-right:2px;"><img onmouseover="this.style.cursor='pointer'; this.src='bms/images/close2.gif';" onmouseout=" this.src='bms/images/close.gif';" src="<?=ROOT_URL?>bms/images/close.gif" width="21" height="21" onclick="this.src='bms/images/close.gif';closediv('searchemp');"></td>
                    </tr>
                </table>
            </td></tr>
        <tr>
            <td style="border: 1px #2BCAFF solid" width="100%" align=center valign=top>
                <div id="searchempid">
                    <?php
                    include("bms/templates/search_emp.htm");
                    ?>
                </div>
            </td>
        </tr>
    </table>
</div>
<iframe id="serialiframe" style="visibility:hidden;height:260px;"></iframe>
<div  id="serialdiv" style="visibility:hidden;height:256px;">
    <table  bgcolor="#ffffff" width="550" border="0" height="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td height="25" valign=top align=center width="100%">
                <table height="25" width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td width="94%" height="25"  background="<?=ROOT_URL?>bms/images/head_bg.gif"  onmouseover="this.style.cursor='move';"  onmousedown="divclick('serial',event);" style="color:white;"><b>&nbsp;&nbsp;Nhập serials</b></td>
                        <td width="3%" height="25" align="right" background="<?=ROOT_URL?>bms/images/head_bg.gif">
                            <img onmouseover="this.style.cursor='pointer'; this.src='bms/images/minimize2.gif';" onmouseout=" this.src='bms/images/minimize.gif';" src="<?=ROOT_URL?>bms/images/minimize.gif" width="21" height="21" onclick="hidediv('serial');" /></td>
                        <td width="3%" height="25" align="right" background="<?=ROOT_URL?>bms/images/head_bg.gif" style="padding-right:2px;"><img onmouseover="this.style.cursor='pointer'; this.src='bms/images/close2.gif';" onmouseout=" this.src='bms/images/close.gif';" src="<?=ROOT_URL?>bms/images/close.gif" width="21" height="21" onclick="this.src='bms/images/close.gif';closediv('serial');"></td>
                    </tr>
                </table>
            </td></tr>
        <tr>
            <td style="border: 1px #2BCAFF solid" width="100%" align=center valign=top>
                <table  height="200" width="100%" border="0"  cellpadding="0" cellspacing="0">
                    <tr>
                        <td height="40" width="80" style="padding-left:10px;"><b>Số serial (từ)</b></td>
                        <td width="140">
                            <input onkeypress="if(event.which) code=event.which; else code=window.event.keyCode; if(code==13) document.getElementById('serial_end').focus();" value="" style="width:130px;" class="catbg" name="serial_start" type="text" id="serial_start" size="25" />
                        </td>
                        <td width="100" style="padding-left:10px;"><b>Đến serial</b></td>
                        <td width="140">
                            <input onkeypress="if(event.which) code=event.which; else code=window.event.keyCode; if(code==13) document.getElementById('add').focus();" value="" style="width:130px;" class="catbg" name="serial_end" type="text" id="serial_end" size="25" />
                        </td>
                        <td>
                            <input type="button" style="width:50px;"  class="button" onclick="add_serial();" name="add" id="add" value="Thêm">
                        </td>
                    </tr>
                    <tr><td align="right"><input type="checkbox" value="1" name="chk_serial" id="chk_serial"></td>
                        <td style="padding-left:10px;" colspan="4"><a class="cart_payment" href="javascript:void()" onclick="document.getElementById('chk_serial').checked=!document.getElementById('chk_serial').checked;"><b>Không kiểm tra serial xuất kho với serial trong kho hàng xuất</b></a></td>
                    </tr>
                    <tr><td height="30" style="padding-left:10px;" colspan="5"><b>DANH SÁCH SERIALS ĐÃ NHẬP</b></td></tr>
                    <tr><td style="padding-left:10px;padding-right:10px;" colspan="5">
                            <table bgcolor="#dddddd" width="100%" border="0"  cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="25" width="35%" align="center"><b>Số serial (từ)</b></td>
                                    <td width="35%" align="center"><b>Đến serial</b></td>
                                    <td width="20%" align="center"><b>Số lượng</b></td>
                                    <td width="10%"><b>Xoá</b></td>
                                </tr>
                            </table>
                            <div id="tblscr" style="height:130px;background-Color:#eeeeee;overflow:auto;padding-bottom:10px;padding-left:10px;padding-right:10px;">
                                <table  width="100%" border="0"  cellpadding="0" cellspacing="0">
                                    <tbody>
                                    </tbody>
                                </table>
                                <div id="tbl"></div>
                            </div>
                        </td></tr>
                </table>
                <table  width="100%" border="0"  cellpadding="0" cellspacing="0">
                    <tr><td height="30" style="padding-left:10px;"><b>Lưu ý:</b> Chỉ nhập <b>Đến serial</b> khi là dải serials</td><td align="right" style="padding-right:10px;"><input type="button" value="Đóng"  onclick="hidediv('serial');" class="button"></td></tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<script language="javascript">
    var cur_index=<?= isset($return_val['oinvd_id']) ? count($return_val['oinvd_id']) : 0 ?>;
    var select_id=0;
    var cur_id=0;
    function addrow(tid) {
        var doc=document;
        var tbl = doc.getElementById(tid).getElementsByTagName('tbody')[0];
        //create a new row
        var newrow = doc.createElement("TR");
        var newcol , newinput;
        cur_index++;

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newcol.style.height="25";
        newinput = doc.createElement("input");
        newinput.type="hidden";
        newinput.id="oinvd_id_"+cur_index;
        newinput.name="oinvd_id[]";
        newcol.appendChild(newinput);
        newinput = doc.createElement("input");
        newinput.type="text";
        newinput.id="mat_name_"+cur_index;
        newinput.name="mat_name[]";
        newinput.className='catbg';
        newinput.style.width="260px";
        newcol.appendChild(newinput);
        newinput = doc.createElement("input");
        newinput.type="button";
        newinput.id=cur_index;
        newinput.name="browse_mat[]";
        newinput.value="...";
        newinput.style.width="30px";
        newinput.onclick=function(){browse_mat(this.id);};
        newinput.className='button';
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.type="text";
        newinput.id="quantity_"+cur_index;
        newinput.name="quantity[]";
        newinput.onkeyup=function(){format(this);sum_mat(this.id.substring(9));}
        newinput.className='catbg';
        newinput.style.width="80px";
        newinput.value=1;
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);
        
        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.className='catbg';
        newinput.id="serial_"+cur_index;
        newinput.name="serial[]";
        newinput.style.width="150px";
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.type="text";
        newinput.id="warn_desc_"+cur_index;
        newinput.name="warn_desc[]";
        newinput.className='catbg';
        newinput.style.width="190px";
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);


        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.type="button";
        newinput.id="del_mat_"+cur_index;
        newinput.name="del_mat[]";
        newinput.value="-";
        newinput.style.width="25px";
        newinput.onclick=function(){delRow(this,tid);};
        newinput.className='button';
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        tbl.appendChild(newrow);
    }

    function delRow(a,tid) {
        var row = a.parentNode.parentNode;
        var tbody = document.getElementById(tid).getElementsByTagName('tbody')[0];
        tbody.removeChild(row);
        change_number();
    }

    function browse_mat(id) {
        if(document.getElementById("cus_id").value=='') {
            alert('Hãy chọn khách hàng');
            document.getElementById("cus_browser").focus();
        } else {
            cur_id=id;
            document.getElementById('searchmatdiv').style.top=document.body.scrollTop+5;
            document.getElementById('searchmatiframe').style.top=document.body.scrollTop+5;
            document.getElementById('searchmatdiv').style.left=(screen.width-1000)/2+230;
            document.getElementById('searchmatiframe').style.left=(screen.width-1000)/2+230;
            showdiv('searchmat');
            document.getElementById("search_serial").focus();
            load_mat_page(cur_mat_page);
        }
    }

    function load_mat() {
        document.getElementById("oinvd_id_"+cur_id).value=cur_invd_id;
        load_serial(cur_serial);
        document.getElementById("mat_name_"+cur_id).value=cur_mat_name;
        document.getElementById("quantity_"+cur_id).value='1';
    }
    function load_serial(seri) {
        var chk='';
        if(seri!='') {
            if(seri.indexOf("; ")>0) {
                chk=prompt('Hãy nhập số serial cần bảo hành một trong các serial sau: \n'+seri);
                if(chk=='' || chk==null) {
                    load_serial(seri);
                } else {
                    var seri_chk=false;
                    var text= seri.split("; ");
                    if(isArray(text)) {
                        for(var i=0;i<text.length;i++)
                        {
                            if(text[i].indexOf(" - ")>0) {
                                tmp=text[i].split("-");
                                if(isArray(tmp))
                                {
                                    if(chk>=toint(tmp[0]) && chk<=toint(tmp[1])) {
                                        seri_chk=true;
                                        break;
                                    }
                                }
                            }	else {
                                if(chk==text[i]) {
                                    seri_chk=true;
                                    break;
                                }
                            }
                        }
                    }
                    if(seri_chk==true) {
                        document.getElementById("serial_"+cur_id).value=chk;
                    } else {
                        load_serial(seri);
                    }
                }
            } else {
                document.getElementById("serial_"+cur_id).value=seri;
            }
        } else {
            document.getElementById("serial_"+cur_id).value='';
        }
    }
    function toint(str) {
        var i,k,p, num='';
        if(str=='') {
            return 0;
        }
        p=0;
        for(k=0;k<str.length;k++) {
            if(str.charAt(k)!=0) {
                p=k;
                break;
            }
        }
        for(i=str.length;i>=p;i--) {
            if(isNaN(str.charAt(i))) {
                break;
            } else {
                num=str.charAt(i)+num;
            }
        }
        return parseInt(num);
    }
    function browse_cus()
    {
        document.getElementById('searchcusdiv').style.top=document.body.scrollTop+5;
        document.getElementById('searchcusiframe').style.top=document.body.scrollTop+5;
        document.getElementById('searchcusdiv').style.left=(screen.width-1000)/2+230;
        document.getElementById('searchcusiframe').style.left=(screen.width-1000)/2+230;
        showdiv('searchcus');
        if(document.getElementById('cusid').innerHTML=="") {
            load_cus_page(1);
        }

    }
    function load_cus()
    {
        document.getElementById("cus_id").value=cur_cus_id;
        document.getElementById("cus_name").value=cur_cus_name;
        document.getElementById("address").value=cur_address;
        document.getElementById("tel").value=cur_tel;
    }


    function browse_emp() {
        document.getElementById('searchempdiv').style.top=document.body.scrollTop+5;
        document.getElementById('searchempiframe').style.top=document.body.scrollTop+5;
        document.getElementById('searchempdiv').style.left=(screen.width-1000)/2+250;
        document.getElementById('searchempiframe').style.left=(screen.width-1000)/2+250;
        showdiv('searchemp');
    }
    function load_emp() {
        document.getElementById("user_id").value=cur_user_id;
        document.getElementById("full_name").value=cur_full_name;
    }
</script>          
