<?php
if ($action->eda_type != 'ajax') {
    ?>	
    <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom:0px;border-left:0px;border-right:0px;">
        <tr>
            <td width="30" align="center">
                <img style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/waranty_in.png" width="18" height="18"/>
            </td>
            <td  height="25"><b>Xử lý bảo hành - Dịch vụ</b></td>
            <td align="right" style="padding-right:5px;"><img onclick="window.location='<?= empty($action->eda_id) ? '?' : '?eda_act=' . md5('waranty') . '&eda_code=' . md5('waranty_process') ?>';" style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/back.gif" height="18"/></td>
        </tr>
    </table>
    <?php
    if (empty($action->eda_id)) {
        include("bms/templates/waranty/waranty_man.htm");
    }
}
if (!empty($action->eda_id)) {
    $warn = get_data("select warn.*, cus.cus_name cus_name2 from (select inv.*, usr.full_name from waranty_invoices inv, users usr where inv.inv_id = '" . $action->eda_id . "' and inv.user_id=usr.user_id) warn left join customers cus on warn.cus_id=cus.cus_id");
    //$return_val=get_data("select inv.*, usr.full_name, cus.cus_name from waranty_invoices inv, users usr, customers cus where inv.inv_code = '".$inv_code."' and inv.user_id=usr.user_id and inv.cus_id=cus.cus_id");
    if (count($warn) > 0) {
        $warn = $warn[0];
        $usr = get_data("select full_name from users where user_id='" . $sessions->get_session('user_id') . "'");
        if (count($usr) > 0) {
            $warn['full_namep'] = $usr[0][0];
            $warn['user_id'] = $sessions->get_session('user_id');
        }
        ?>
        <script type="text/javascript" src="bms/common/CalendarPopup.js"></script>
        <script language="javaScript" id="jscal1x" type="text/javascript">
            var cal = new CalendarPopup("calendarpopup");
            cal.setTodayText("Hôm nay");
            cal.showNavigationDropdowns();
            cal.setYearSelectStartOffset(20);
            cal.setMonthNames("Tháng 1","Tháng 2","Tháng 3","Tháng 4","Tháng 5","Tháng 6","Tháng 7","Tháng 8","Tháng 9","Tháng 10","Tháng 11","Tháng 12");
            cal.setDayHeaders("CN","T2","T3","T4","T5","T6","T7");
        </script>
        <script language="javascript">document.write(getCalendarStyles());</script>
        <div id="calendarpopup" style="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;z-index:100;"></div>

        <form name="warnfrm" onkeypress="return tabOnEnter(document.activeElement, event);"   method="post" action="?eda_act=<?= md5('waranty') ?>&eda_code=<?= md5('waranty_process_sm') ?>&eda_id=<?= $action->eda_id ?>" style="margin:0px">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr><td style="padding:10px;">
                        <table width="780" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="25" width="180" align="left"><b>Người xử lý</b></td>
                                <td width="200">
                                    <input  value="<?= $warn['user_id'] ?>"  name="user_id" type="hidden" id="user_id" size="25" />
                                    <input readonly value="<?= $warn['full_namep'] ?>" style="width:<?=$sessions->get_session('user_name')=='admin'?'160':'200'?>px;" class="catbg" name="full_name" type="text" id="full_name" size="25" />
                                    <?php
                                    if($sessions->get_session('user_name')=='admin') {
                                    ?>
                                    <input type="button" style="width:30px;" class="button" onclick="browse_emp();" name="browser" id="browser" value="...">
                                    <?php
                                    }
                                    ?>
                                </td>
                                <td height="25" width="110" align="left" style="padding-left:20px;"><b>Thời gian xử lý </b></td>
                                <td>
                                    <table  border="0" cellspacing="0" cellpadding="0">
                                        <tr><td>
                                                <input readonly  style="width:90px;" class="catbg"  onclick="cal.select(document.getElementById('date'),'anchor1','dd/MM/yyyy');if(document.getElementById('date').value==''){d = new Date(); CP_refreshCalendar(0,1+d.getMonth(),d.getFullYear())};  return false;" class="textbox" value="<?= isset($return_val['date']) ? $return_val['date'] : gmdate('d/m/Y', time() + 7 * 3600) ?>" onBlur="check_date(this);" name="date" id="date" type="text" />
                                            </td><td>
                                                <A href="javascript:void()" onclick="cal.select(document.getElementById('date'),'anchor1','dd/MM/yyyy'); if(document.getElementById('date').value==''){d = new Date(); CP_refreshCalendar(0,1+d.getMonth(),d.getFullYear())}; return false;"><img  NAME="anchor1" ID="anchor1" src="<?=ROOT_URL?>bms/images/icon/calendar.gif" height="18" border="0"></A>
                                            </td><td>
                                                <select onchange="date_change();" style="width:40px;" class="catbg" name="hour" id="hour" type="text" >
                                                    <?php
                                                    for ($i = 0; $i < 24; $i++)
                                                        echo '<option  ' . (isset($return_val['date']) ? ($return_val['hour'] == $i ? 'selected' : '') : ($i == gmdate('H', time() + 7 * 3600) ? 'selected' : '')) . ' value="' . $i . '">' . str_pad($i, 2, '0', STR_PAD_LEFT) . '</option>';
                                                    ?>
                                                </select>
                                            </td><td><b>&nbsp;:&nbsp;</b></td>
                                            <td><select  onchange="date_change();" style="width:40px;" class="catbg" name="minute" id="minute" type="text" >
                                                    <?php
                                                    for ($i = 0; $i < 60; $i++)
                                                        echo '<option ' . (isset($return_val['date']) ? ($return_val['minute'] == $i ? 'selected' : '') : ($i == gmdate('i', time() + 7 * 3600) ? 'selected' : '')) . ' value="' . $i . '">' . str_pad($i, 2, '0', STR_PAD_LEFT) . '</option>';
                                                    ?>
                                                </select>
                                            </td></tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" width="180" align="left"><b>Người nhận</b></td>
                                <td width="200"><?= $warn['full_name'] ?></td>
                                <td height="25" width="110" align="left" style="padding-left:20px;"><b>Thời gian nhận</b></td>
                                <td><?= date('d/m/Y H:i', $warn['created_date']) ?></td>
                            </tr>
                            <tr>
                                <td height="25" align="left"><b>Bộ phận xử lý</b></td>
                                <td><?php
                                            if (!empty($warn['dept_id'])) {
                                                $store = get_data("select dept_name from waranty_dept where dept_id='" . $warn['dept_id'] . "' limit 1");
                                                if (count($store) > 0) {
                                                    echo $store[0]['dept_name'];
                                                } else {
                                                    echo 'Không xác định';
                                                }
                                            } else {
                                                echo 'Không xác định';
                                            }
                                                    ?>
                                </td>
                                <td height="25" align="left" style="padding-left:20px;"><b>Số phiếu nhận</b></td>
                                <td>
                                    <?= $warn['inv_code'] ?>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" align="left"><b>Tên khách hàng</b></td>
                                <td><?= $warn['cus_name'] ?></td>
                                <td height="25" align="left" style="padding-left:20px;"><b>Điện thoại</b></td>
                                <td>
                                    <?= $warn['tel'] ?>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" align="left"><b>Địa chỉ</b></td>
                                <td colspan="3"><?= $warn['address'] ?></td>
                            </tr>
                            <tr>
                                <td height="25" align="left"><b>Ghi chú</b></td>
                                <td colspan="3"><textarea  style="width:535px;" class="catbg" name="comment" type="text" id="comment" cols="80" rows="4" /><?= isset($return_val['comment']) ? $return_val['comment'] : $warn['comment'] ?></textarea></td>
                            </tr>
                        </table>
                        <?= !empty($err_msg) ? '<table width="95%"  border="0" cellpadding="0" cellspacing="0"><tr><td height="25" style="padding-top:10px;"><font color=red><b>' . $err_msg . '</b><br></font></td></tr></table>' : '' ?>
                        <table width="100%"  border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="40"><b>DANH SÁCH SẢN PHẨM - DỊCH VỤ</b> <span id="testatus"></span></td>
                                <td align="right"></td>
                            </tr>
                        </table>
                        <table width="780" id="mat_tbl" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
                            <tbody>
                                <tr>
                                    <td width="190" align="center" bgcolor="#afd7ff" height="25"><b>Sản phẩm/Dịch vụ</b></td>
                                    <td width="30" align="center" bgcolor="#afd7ff"><b>SL</b></td>
                                    <td width="80" align="center" bgcolor="#afd7ff"><b>Loại DV</b></td>
                                    <td width="160" align="center" bgcolor="#afd7ff"><b>Tình trạng/Xử lý</b></td>
                                    <td width="80" align="center" bgcolor="#afd7ff"><b>Hẹn trả</b></td>
                                    <td width="90" align="center" bgcolor="#afd7ff"><b>Trạng thái</b></td>
                                    <td width="70" align="center" bgcolor="#afd7ff"><b>Chi phí</b></td>
                                    <td  align="center" bgcolor="#afd7ff"><b>Thêm</b></td>
                                </tr>
                                <?php
                                $mat = get_data("select * from waranty_invoice_details where inv_id='" . $warn['inv_id'] . "'");
                                $total = 0;
                                for ($i = 0; $i < count($mat); $i++) {
                                    if (!isset($return_val['service_type'][$i])) {
                                        $return_val['service_type'][$i] = $mat[$i]['service_type'];
                                        $return_val['warn_status'][$i] = $mat[$i]['warn_status'];
                                    }
                                    $sv = array();
                                    $m = array();
                                    if (!isset($return_val['service_name_' . $i])) {
                                        $sv = get_data("select * from waranty_services where invd_id=" . $mat[$i]['invd_id']);
                                    }
                                    if (!isset($return_val['mat_name_' . $i])) {
                                        $m = get_data("select * from waranty_materials where invd_id=" . $mat[$i]['invd_id']);
                                    }
                                    ?>
                                    <tr>
                                        <td style="padding-left:5px;" height="25">
                                            <input type="hidden" style="width:150px;" value="<?= $mat[$i]['invd_id'] ?>"  class="catbg" name="invd_id[]" type="text"  size="25" />
                                            <?= ($i + 1) ?>. <?= $mat[$i]['mat_name'] . (!empty($mat[$i]['serial']) ? '<br/><i>Serial: ' . $mat[$i]['serial'] . '</i>' : '') ?>
                                        </td>
                                        <td align="center"><?= number_format($mat[$i]['mat_quantity'], 0, '', ' ') ?></td>
                                        <td align="center">
                                            <select style="width:70px;" class="textbox" name="service_type[]">
                                                <option <?= isset($return_val['service_type'][$i]) ? ($return_val['service_type'][$i] == 'BH' ? ' selected ' : '') : '' ?> value="BH">B.Hành</option>
                                                <option <?= isset($return_val['service_type'][$i]) ? ($return_val['service_type'][$i] == 'DV' ? ' selected ' : '') : '' ?> value="DV">Sửa DV</option>
                                            </select>                                        </td>
                                        <td align="center"><input style="width:150px;" value="<?= isset($return_val['warn_desc'][$i]) ? $return_val['warn_desc'][$i] : $mat[$i]['warn_desc'] ?>"  class="catbg" name="warn_desc[]" type="text" id="warn_desc_<?= $i ?>" size="25" /></td>
                                        <td align="center"><input style="width:70px;" value="<?= isset($return_val['inv_date'][$i]) ? $return_val['inv_date'][$i] : (!empty($mat[$i]['inv_date']) ? $mat[$i]['inv_date'] : gmdate('d/m/Y', time() + 7 * 3600 + 7 * 24 * 3600)) ?>"  class="catbg" name="inv_date[]" type="text" id="inv_date_<?= $i ?>" size="25" /></td>
                                        <td align="center">
                                            <select style="width:83px;" class="textbox" name="warn_status[]">
                                                <option <?= isset($return_val['warn_status'][$i]) ? ($return_val['warn_status'][$i] == 0 ? ' selected ' : '') : '' ?> value="0">Đang xử lý</option>
                                                <option <?= isset($return_val['warn_status'][$i]) ? ($return_val['warn_status'][$i] == 1 ? ' selected ' : '') : '' ?> value="1">Gửi BH-Sửa chữa</option>
                                                <option <?= isset($return_val['warn_status'][$i]) ? ($return_val['warn_status'][$i] == 2 ? ' selected ' : '') : '' ?> value="2">Sẳn sàng trả</option>
                                                <option <?= isset($return_val['warn_status'][$i]) ? ($return_val['warn_status'][$i] == 3 ? ' selected ' : '') : '' ?> value="3">Đã trả xong</option>
                                                <option <?= isset($return_val['warn_status'][$i]) ? ($return_val['warn_status'][$i] == 4 ? ' selected ' : '') : '' ?> value="4">Trả lại</option>
                                            </select>
                                        </td>
                                        <td align="center"><input style="width:60px;" onkeyup="format(this);sum_all();" value="<?= isset($return_val['service_fee'][$i]) ? $return_val['service_fee'][$i] : (empty($mat[$i]['service_fee']) ? 0 : $mat[$i]['service_fee']) ?>"  class="catbg" name="service_fee[]" type="text" size="25" /></td>
                                        <td align="left">
                                            <input onclick="if(this.checked==true)document.getElementById('service_row_<?= $i ?>').style.display='';else document.getElementById('service_row_<?= $i ?>').style.display='none';" name="service_chk[]" type="checkbox" <?= !isset($return_val['service_chk']) ? (count($sv) > 0 ? 'checked' : '') : (@in_array($i, $return_val['service_chk']) ? 'checked' : '') ?> value="<?= $i ?>"/> Dịch vụ
                                            <br/><input onclick="if(this.checked==true)document.getElementById('mat_row_<?= $i ?>').style.display='';else document.getElementById('mat_row_<?= $i ?>').style.display='none';" name="mat_chk[]" type="checkbox" <?= !isset($return_val['service_chk']) ? (count($m) > 0 ? 'checked' : '') : (@in_array($i, $return_val['mat_chk']) ? 'checked' : '') ?> value="<?= $i ?>"/> Thiết bị
                                        </td>
                                    </tr>
                                    <tr id="service_row_<?= $i ?>" style="<?= !isset($return_val['service_chk']) ? (count($sv) > 0 ? '' : 'display:none') : (@in_array($i, $return_val['service_chk']) ? '' : 'display:none') ?>"><td colspan="8" style="padding:10px;border-bottom:0px;">
                                            <table width="100%" id="service_tbl_<?= $i ?>" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
                                                <tbody>
                                                    <tr>
                                                        <td width="240" align="center" bgcolor="#afd7ff" height="25"><b>Dịch vụ kèm theo</b></td>
                                                        <td width="360" align="center" bgcolor="#afd7ff"><b>Mô tả công việc</b></td>
                                                        <td width="100" align="center" bgcolor="#afd7ff"><b>Chi phí</b></td>
                                                        <td  align="center" bgcolor="#afd7ff"><input type="button" onclick="addrowservice(<?= $i ?>);" style="width:25px;" class="button" name="add_mat" value="+"></td>
                                                    </tr>
                                                    <?php
                                                    $sum_service = 0;
                                                    $sum_mat = 0;
                                                    $total+=isset($return_val['service_fee'][$i]) ? str_replace(",", "", $return_val['service_fee'][$i]) : $mat[$i]['service_fee'];
                                                    if (!isset($return_val['service_name_' . $i])) {
                                                        if (count($sv) > 0) {
                                                            for ($k = 0; $k < count($sv); $k++) {
                                                                $return_val['service_name_' . $i][$k] = $sv[$k]['service_name'];
                                                                $return_val['service_desc_' . $i][$k] = $sv[$k]['service_desc'];
                                                                $return_val['service_fee_' . $i][$k] = $sv[$k]['service_fee'];
                                                            }
                                                        }
                                                    }
                                                    if (isset($return_val['service_name_' . $i])) {
                                                        for ($j = 0; $j < count($return_val['service_name_' . $i]); $j++) {
                                                            ?>
                                                            <tr>
                                                                <td align="center" height="25">
                                                                    <input  value="<?= $return_val['wsv_id_' . $i][$j] ?>"  name="wsv_id_<?= $i ?>[]" type="hidden"  size="25" />
                                                                    <input  style="width:230px;" value="<?= $return_val['service_name_' . $i][$j] ?>"  class="catbg" name="service_name_<?= $i ?>[]" type="text"  size="25" />
                                                                </td>
                                                                <td align="center"><input type="text"  class="catbg"  style="width:350px;" name="service_desc_<?= $i ?>[]" value="<?= $return_val['service_desc_' . $i][$j] ?>"></td>
                                                                <td align="center"><input onkeyup="format(this);total_service(<?= $i ?>);sum_all();" style="width:90px;" value="<?= $return_val['service_fee_' . $i][$j] ?>"  class="catbg" name="service_fee_<?= $i ?>[]" type="text"  size="25" /></td>
                                                                <td align="center"><input type="button" style="width:25px;" class="button" onclick="delRowservice(this,'<?= $i ?>');"  value="-"></td>
                                                            </tr>
                                                            <?php
                                                            $sum_service+=str_replace(",", "", $return_val['service_fee_' . $i][$j]);
                                                        }
                                                    } else {
                                                        ?>
                                                        <tr>
                                                            <td align="center" height="25"><input  value=""  name="wsv_id_<?= $i ?>[]" type="hidden"  size="25" />
                                                                <input  style="width:230px;" value=""  class="catbg" name="service_name_<?= $i ?>[]" type="text"  size="25" />
                                                            </td>
                                                            <td align="center"><input  type="text" class="catbg" name="service_desc_<?= $i ?>[]"  style="width:350px;"></td>
                                                            <td align="center"><input type="text" onkeyup="format(this);total_service(<?= $i ?>);sum_all();" style="width:90px;"  class="catbg" name="service_fee_<?= $i ?>[]"  value="0" ></td>
                                                            <td align="center"><input type="button" style="width:25px;" class="button" onclick="delRowservice(this,<?= $i ?>);"  value="-"></td>
                                                        </tr>
                                                        <?php
                                                    }
                                                    ?>
                                                </tbody>
                                            </table>
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
                                                <tr><td style="padding-top:5px;" align="right"><b>Tổng phí dịch vụ: <span id="service_total_<?= $i ?>"><?= number_format($sum_service, 0, ".", ",") ?></span>đ</b></td></tr>
                                            </table>
                                        </td></tr>
                                    <tr id="mat_row_<?= $i ?>" style="<?= !isset($return_val['service_chk']) ? (count($m) > 0 ? '' : 'display:none') : (@in_array($i, $return_val['mat_chk']) ? '' : 'display:none') ?>"><td colspan="8" style="padding:10px;border-top:0px;">
                                            <table width="100%" id="mat_tbl_<?= $i ?>" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
                                                <tbody>
                                                    <tr>
                                                        <td width="260" align="center" bgcolor="#afd7ff" height="25"><b>Thiết bị thay thế</b></td>
                                                        <td width="80" align="center" bgcolor="#afd7ff"><b>Trạng thái</b></td>
                                                        <td width="80" align="center" bgcolor="#afd7ff"><b>Bảo hành</b></td>
                                                        <td width="80" align="center" bgcolor="#afd7ff"><b>Số lượng</b></td>
                                                        <td width="100" align="center" bgcolor="#afd7ff"><b>Đơn giá</b></td>
                                                        <td width="100" align="center" bgcolor="#afd7ff"><b>Thành tiền</b></td>
                                                        <td  align="center" bgcolor="#afd7ff"><input type="button" onclick="addrow(<?= $i ?>);" style="width:25px;" class="button" name="add_mat" value="+"></td>
                                                    </tr>
                                                    <?php
                                                    if (!isset($return_val['mat_name_' . $i])) {
                                                        if (count($m) > 0) {
                                                            for ($k = 0; $k < count($m); $k++) {
                                                                $return_val['mat_name_' . $i][$k] = $m[$k]['mat_name'];
                                                                $return_val['mat_id_' . $i][$k] = $m[$k]['mat_id'];
                                                                $return_val['mat_status_' . $i][$k] = $m[$k]['mat_status'];
                                                                $return_val['waranty_' . $i][$k] = $m[$k]['waranty'];
                                                                $return_val['quantity_' . $i][$k] = $m[$k]['quantity'];
                                                                $return_val['amount_' . $i][$k] = $m[$k]['price'];
                                                                $return_val['sum_' . $i][$k] = $m[$k]['quantity'] * $m[$k]['price'];
                                                            }
                                                        }
                                                    }
                                                    if (isset($return_val['mat_name_' . $i])) {
                                                        for ($j = 0; $j < count($return_val['mat_name_' . $i]); $j++) {
                                                            ?>
                                                            <tr>
                                                                <td align="center" height="25">
                                                                    <input  value="<?= $return_val['wma_id_' . $i][$j] ?>"  name="wma_id_<?= $i ?>[]" type="hidden"  size="25" />
                                                                    <input  value="<?= $return_val['mat_id_' . $i][$j] ?>"  name="mat_id_<?= $i ?>[]" type="hidden"  size="25" />
                                                                    <input  style="width:220px;" value="<?= $return_val['mat_name_' . $i][$j] ?>"  class="catbg" name="mat_name_<?= $i ?>[]" type="text"  size="25" /><input type="button" style="width:30px;" class="button" name="mat_browse_<?= $i ?>[]"  onclick="browse_mat(this,<?= $i ?>)"  value="...">
                                                                </td>
                                                                <td align="center"><input type="text"  class="catbg" style="width:70px;" name="mat_status_<?= $i ?>[]" value="<?= $return_val['mat_status_' . $i][$j] ?>"></td>
                                                                <td align="center"><input type="text"  class="catbg"  style="width:70px;" name="waranty_<?= $i ?>[]" value="<?= $return_val['waranty_' . $i][$j] ?>"></td>
                                                                <td align="center"><input onkeyup="format(this);sum_mat(this,<?= $i ?>);sum_all();" style="width:70px;" value="<?= $return_val['quantity_' . $i][$j] ?>"  class="catbg" name="quantity_<?= $i ?>[]" type="text"  size="25" /></td>
                                                                <td align="center"><input onkeyup="format(this);sum_mat(this,<?= $i ?>);sum_all();"  style="width:90px;" value="<?= $return_val['amount_' . $i][$j] ?>"  class="catbg" name="amount_<?= $i ?>[]" type="text"  size="25" /></td>
                                                                <td align="center"><input  style="width:90px;" readonly value="<?= $return_val['sum_' . $i][$j] ?>"  class="catbg" name="sum_<?= $i ?>[]" type="text" size="25" /></td>
                                                                <td align="center"><input type="button" style="width:25px;" class="button" onclick="delRow(this,<?= $i ?>);" name="del_user[]" value="-"></td>
                                                            </tr>
                                                            <?php
                                                            $sum_mat+=str_replace(",", "", $return_val['sum_' . $i][$j]);
                                                        }
                                                    } else {
                                                        ?>
                                                        <tr>
                                                            <td align="center" height="25">
                                                                <input  value=""  name="wma_id_<?= $i ?>[]" type="hidden"  size="25" />
                                                                <input  value=""  name="mat_id_<?= $i ?>[]" type="hidden"  size="25" />
                                                                <input  style="width:220px;" value=""  class="catbg" name="mat_name_<?= $i ?>[]" type="text"  size="25" /><input type="button" style="width:30px;" class="button"  name="mat_browse_<?= $i ?>[]"  onclick="browse_mat(this,<?= $i ?>)"  value="...">
                                                            </td>
                                                            <td align="center"><input  type="text" class="catbg" name="mat_status_<?= $i ?>[]"  style="width:70px;"></td>
                                                            <td align="center"><input  type="text" class="catbg" name="waranty_<?= $i ?>[]"  style="width:70px;"></td>
                                                            <td align="center"><input  onkeyup="format(this);sum_mat(this,<?= $i ?>);sum_all();" style="width:70px;" value="1"  class="catbg" name="quantity_<?= $i ?>[]" type="text"  size="25" /></td>
                                                            <td align="center"><input type="text" onkeyup="format(this);sum_mat(this,<?= $i ?>);sum_all();" style="width:90px;"  class="catbg" name="amount_<?= $i ?>[]"  value="0" ></td>
                                                            <td align="center"><input type="text"  style="width:90px;" readonly class="catbg" name="sum_<?= $i ?>[]" value="0" ></td>
                                                            <td align="center"><input type="button" style="width:25px;" class="button" onclick="delRow(this,<?= $i ?>);"  value="-"></td>
                                                        </tr>
                                                        <?php
                                                    }
                                                    ?>
                                                </tbody>
                                            </table>
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
                                                <tr><td style="padding-top:5px;" align="right"><b>Tổng tiền thiết bị: <span id="mat_total_<?= $i ?>"><?= number_format($sum_mat, 0, ".", ",") ?></span>đ</b></td></tr>
                                            </table>                                        
                                        </td></tr>
                                    <?php
                                    $total+=($sum_mat + $sum_service);
                                }
                                ?>
                            </tbody>
                        </table>
                    </td></tr>
                <tr><td align="right" style="padding-right:20px;">
                        <b>Tổng cộng: <span id="totalfee"><?= number_format($total, 0, ".", ",") ?></span>đ</b>
                    </td>
                </tr>
                <?php
                if ($action->eda_type != 'ajax') {
                    ?>
                    <tr><td style="padding-left:20px;"><b>Người thay đổi cuối cùng: </b>
                            <?php
                            $usr = get_data("select full_name from users where user_id='" . $warn['created_user'] . "'");
                            if (count($usr) > 0)
                                echo $usr[0]['full_name'];
                            else
                                echo "Không xác định";
                            ?>
                        </td><tr>
                        <?php
                    }
                    ?>
            </table>
            <input style="margin:10px;" type="submit" value="Thực hiện" class="button"/>
        </form>
        <?php
    }
    else {
        echo '&nbsp;&nbsp;Không tìm thấy phiếu bảo hành';
    }
}
?>	
<?php
if ($action->eda_type != 'ajax') {
    ?>
    <table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height=5 ><img src="<?=ROOT_URL?>bms/images/spacer.gif" height=5></td>
        </tr>
    </table>

    <table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height=5><img src="<?=ROOT_URL?>bms/images/spacer.gif" height=5></td>
        </tr>
    </table>
    <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top:0px;border-left:0px;border-right:0px;">
        <tr>
            <?php
            if (!empty($action->eda_id)) {
                ?>
                <td  height="30" style="padding-left:5px;" width="30">
                    <img src="<?=ROOT_URL?>bms/images/icon/preview.gif" height="24">
                </td>
                <td   style="padding-left:5px;">
                    <a class="cart_payment" href="?eda_code=<?= md5('view_report') ?>&eda_type=ajax&eda_module=waranty/view_waranty_process&eda_id=<?= $action->eda_id ?>" target="_blank"><b>Xem dạng in ấn</b></a>
                </td>
                <?php
            }
            ?>
            <td align="right" style="padding-right:5px;"><img  onclick="window.location='<?= empty($action->eda_id) ? '?' : '?eda_act=' . md5('waranty') . '&eda_code=' . md5('waranty_process') ?>';" style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/back.gif" height="18"/></td>
        </tr>
    </table>
    <?php
}
?>
<style>
    #searchempdiv,#searchmatdiv{
        position:absolute;
        left:0px;
        top:20px;
        width:550px;
        height:450px;
        z-index:2;
    }
    #searchempiframe,#searchmatiframe {
        position:absolute;
        left:0px;
        top:20px;
        width:546px;
        height:446px;
        z-index:1;
    }
</style>
<iframe id="searchempiframe" style="visibility:hidden;"></iframe>
<div  id="searchempdiv" style="visibility:hidden;">
    <table  bgcolor="#ffffff" width="550" border="0" height="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td height="25" valign=top align=center width="100%">
                <table height="25" width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td width="94%" height="25" id="searchuserhead" background="<?=ROOT_URL?>bms/images/head_bg.gif"  onmouseover="this.style.cursor='move';"  onmousedown="divclick('searchemp',event);" style="color:white;"><b>&nbsp;&nbsp;Danh sách nhân viên</b></td>
                        <td width="3%" height="25" align="right" background="<?=ROOT_URL?>bms/images/head_bg.gif">
                            <img onmouseover="this.style.cursor='pointer'; this.src='bms/images/minimize2.gif';" onmouseout=" this.src='bms/images/minimize.gif';" src="<?=ROOT_URL?>bms/images/minimize.gif" width="21" height="21" onclick="hidediv('searchuser');" /></td>
                        <td width="3%" height="25" align="right" background="<?=ROOT_URL?>bms/images/head_bg.gif" style="padding-right:2px;"><img onmouseover="this.style.cursor='pointer'; this.src='bms/images/close2.gif';" onmouseout=" this.src='bms/images/close.gif';" src="<?=ROOT_URL?>bms/images/close.gif" width="21" height="21" onclick="this.src='bms/images/close.gif';closediv('searchemp');"></td>
                    </tr>
                </table>
            </td></tr>
        <tr>
            <td style="border: 1px #2BCAFF solid" width="100%" align=center valign=top>          
                <div id="searchempid">
                    <?php
                    include("bms/templates/search_emp.htm");
                    ?>        
                </div>
            </td>
        </tr>
    </table>
</div>
<iframe id="searchmatiframe" style="visibility:hidden;"></iframe>
<div  id="searchmatdiv" style="visibility:hidden;">
    <table  bgcolor="#ffffff" width="550" border="0" height="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td height="25" valign=top align=center width="100%">
                <table height="25" width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td width="94%" height="25" id="searchmathead" background="<?=ROOT_URL?>bms/images/head_bg.gif"  onmouseover="this.style.cursor='move';"  onmousedown="divclick('searchmat',event);" style="color:white;"><b>&nbsp;&nbsp;Danh sách sản phẩm</b></td>
                        <td width="3%" height="25" align="right" background="<?=ROOT_URL?>bms/images/head_bg.gif">
                            <img onmouseover="this.style.cursor='pointer'; this.src='bms/images/minimize2.gif';" onmouseout=" this.src='bms/images/minimize.gif';" src="<?=ROOT_URL?>bms/images/minimize.gif" width="21" height="21" onclick="hidediv('searchmat');" /></td>
                        <td width="3%" height="25" align="right" background="<?=ROOT_URL?>bms/images/head_bg.gif" style="padding-right:2px;"><img onmouseover="this.style.cursor='pointer'; this.src='bms/images/close2.gif';" onmouseout=" this.src='bms/images/close.gif';" src="<?=ROOT_URL?>bms/images/close.gif" width="21" height="21" onclick="this.src='bms/images/close.gif';closediv('searchmat');"></td>
                    </tr>
                </table>
            </td></tr>
        <tr>
            <td style="border: 1px #2BCAFF solid" width="100%" align=center valign=top>
                <div id="searchmatid">
                    <?php
                    include("bms/templates/search_mat.htm");
                    ?>
                </div>
            </td>
        </tr>
    </table>
</div>
<script language="javascript" type="text/javascript">
    var select_id=0;
    var cur_id=0;
    function addrowservice(tid) {
        var doc=document;
        var tbl = doc.getElementById('service_tbl_'+tid).getElementsByTagName('tbody')[0];
        //create a new row
        var newrow = doc.createElement("TR");
        var newcol , newinput;

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newcol.style.height="25";
        newinput = doc.createElement("input");
        newinput.type="hidden";
        newinput.name="wsv_id_"+tid+"[]";
        newcol.appendChild(newinput);
        newinput = doc.createElement("input");
        newinput.type="text";
        newinput.name="service_name_"+tid+"[]";
        newinput.className='catbg';
        newinput.style.width="230px";
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.className='catbg';
        newinput.name="service_desc_"+tid+"[]";
        newinput.style.width="350px";
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.type="text";
        newinput.name="service_fee_"+tid+"[]";
        newinput.onkeyup=function(){format(this);total_service(tid);sum_all();}
        newinput.className='catbg';
        newinput.style.width="90px";
        newinput.value=0;
        //newinput.readonly=true;
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.type="button";
        newinput.value="-";
        newinput.style.width="25px";
        newinput.onclick=function(){delRowservice(this,tid);};
        newinput.className='button';
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        tbl.appendChild(newrow);
    }
    function addrow(tid) {
        var doc=document;
        var tbl = doc.getElementById('mat_tbl_'+tid).getElementsByTagName('tbody')[0];
        //create a new row
        var newrow = doc.createElement("TR");
        var newcol , newinput;

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newcol.style.height="25";
        newinput = doc.createElement("input");
        newinput.type="hidden";
        newinput.name="wma_id_"+tid+"[]";
        newcol.appendChild(newinput);
        newinput = doc.createElement("input");
        newinput.type="hidden";
        newinput.name="mat_id_"+tid+"[]";
        newcol.appendChild(newinput);
        newinput = doc.createElement("input");
        newinput.type="text";
        newinput.name="mat_name_"+tid+"[]";
        newinput.className='catbg';
        newinput.style.width="220px";
        newcol.appendChild(newinput);
        newinput = doc.createElement("input");
        newinput.type="button";
        newinput.name="mat_browse_"+tid+"[]";
        newinput.value="...";
        newinput.style.width="30px";
        newinput.onclick=function(){browse_mat(this,tid);};
        newinput.className='button';
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.className='catbg';
        newinput.name="mat_status_"+tid+"[]";
        newinput.style.width="70px";
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.className='catbg';
        newinput.name="waranty_"+tid+"[]";
        newinput.style.width="70px";
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.type="text";
        newinput.name="quantity_"+tid+"[]";
        newinput.onkeyup=function(){format(this);sum_mat(this,tid);sum_all();}
        newinput.className='catbg';
        newinput.style.width="70px";
        newinput.value=1;
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.type="text";
        newinput.name="amount_"+tid+"[]";
        newinput.onkeyup=function(){format(this);sum_mat(this,tid);sum_all();}
        newinput.value=0;
        newinput.className='catbg';
        newinput.style.width="90px";
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.type="text";
        newinput.name="sum_"+tid+"[]";
        newinput.readOnly=true;
        newinput.className='catbg';
        newinput.style.width="90px";
        newinput.value=0;
        //newinput.readonly=true;
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        newcol = doc.createElement("TD");
        newcol.style.textAlign="center";
        newinput = doc.createElement("input");
        newinput.type="button";
        newinput.value="-";
        newinput.style.width="25px";
        newinput.onclick=function(){delRow(this,tid);};
        newinput.className='button';
        newcol.appendChild(newinput);
        newrow.appendChild(newcol);

        tbl.appendChild(newrow);
    }
    function delRow(a,tid) {
        var row = a.parentNode.parentNode;
        var tbody = document.getElementById('mat_tbl_'+tid).getElementsByTagName('tbody')[0];
        tbody.removeChild(row);
        total_mat(tid);
        sum_all();
    }
    function delRowservice(a,tid) {
        var row = a.parentNode.parentNode;
        var tbody = document.getElementById('service_tbl_'+tid).getElementsByTagName('tbody')[0];
        tbody.removeChild(row);
        total_service(tid);
        sum_all();
    }
    function sum_mat(obj,id) {
        if(document.forms['warnfrm'].elements[obj.name].length) {
            for(var i=0;i<document.forms['warnfrm'].elements[obj.name].length;i++) {
                if(document.forms['warnfrm'].elements[obj.name][i]==obj) {
                    document.forms['warnfrm'].elements['sum_'+id+'[]'][i].value=strtoint(document.forms['warnfrm'].elements['quantity_'+id+'[]'][i].value)*strtoint(document.forms['warnfrm'].elements['amount_'+id+'[]'][i].value);
                    format(document.forms['warnfrm'].elements['sum_'+id+'[]'][i]);
                    break;
                }
            }
        }else {
            document.forms['warnfrm'].elements['sum_'+id+'[]'].value=strtoint(document.forms['warnfrm'].elements['quantity_'+id+'[]'].value)*strtoint(document.forms['warnfrm'].elements['amount_'+id+'[]'].value);
            format(document.forms['warnfrm'].elements['sum_'+id+'[]']);
        }
        var sum=total_mat(id);
        document.getElementById("mat_total_"+id).innerHTML=formatnumber(sum,",",".");
    }
    function total_mat(id) {
        var sum=0;
        if(document.forms['warnfrm'].elements['sum_'+id+'[]'].length) {
            for(var i=0;i<document.forms['warnfrm'].elements['sum_'+id+'[]'].length;i++) {
                sum+=strtoint(document.forms['warnfrm'].elements['sum_'+id+'[]'][i].value);
            }
        }else {
            sum=strtoint(document.forms['warnfrm'].elements['sum_'+id+'[]'].value);
        }
        document.getElementById("mat_total_"+id).innerHTML=formatnumber(sum,",",".");
        return sum;
    }
    function total_service(id) {
        var sum=0;
        if(document.forms['warnfrm'].elements['service_fee_'+id+'[]'].length) {
            for(var i=0;i<document.forms['warnfrm'].elements['service_fee_'+id+'[]'].length;i++) {
                sum+=strtoint(document.forms['warnfrm'].elements['service_fee_'+id+'[]'][i].value);
            }
        }else {
            sum=strtoint(document.forms['warnfrm'].elements['service_fee_'+id+'[]'].value);
        }
        document.getElementById("service_total_"+id).innerHTML=formatnumber(sum,",",".");
        return sum;
    }
    function sum_all() {
        var sum=0;
        if(document.forms['warnfrm'].elements['service_fee[]'].length) {
            for(var i=0;i<document.forms['warnfrm'].elements['service_fee[]'].length;i++) {
                sum+=strtoint(document.forms['warnfrm'].elements['service_fee[]'][i].value);
                sum+=total_service(i);
                sum+=total_mat(i);
            }
        }else {
            sum+=strtoint(document.forms['warnfrm'].elements['service_fee[]'].value);
            sum+=total_service(0);
            sum+=total_mat(0);
        }
        document.getElementById("totalfee").innerHTML=formatnumber(sum,",",".");
    }
    var cur_mat_page=0;
    var cur_id=null;
    var cur_obj=null;
    function browse_mat(obj,id) {
        cur_id=id;
        cur_obj=obj;
        document.getElementById('searchmatdiv').style.top=document.body.scrollTop+5;
        document.getElementById('searchmatiframe').style.top=document.body.scrollTop+5;
        document.getElementById('searchmatdiv').style.left=(screen.width-1000)/2+230;
        document.getElementById('searchmatiframe').style.left=(screen.width-1000)/2+230;
        showdiv('searchmat');
        load_mat_page(cur_mat_page);
    }

    function load_mat() {
        if(document.forms['warnfrm'].elements[cur_obj.name].length) {
            for(var i=0;i<document.forms['warnfrm'].elements[cur_obj.name].length;i++) {
                if(document.forms['warnfrm'].elements[cur_obj.name][i]==cur_obj) {
                    document.forms['warnfrm'].elements["mat_id_"+cur_id+'[]'][i].value=cur_mat_id;
                    document.forms['warnfrm'].elements["mat_name_"+cur_id+'[]'][i].value=cur_mat_name;
                    document.forms['warnfrm'].elements["quantity_"+cur_id+'[]'][i].value='1';
                    break;
                }
            }
        } else {
            document.forms['warnfrm'].elements["mat_id_"+cur_id+'[]'].value=cur_mat_id;
            document.forms['warnfrm'].elements["mat_name_"+cur_id+'[]'].value=cur_mat_name;
            document.forms['warnfrm'].elements["quantity_"+cur_id+'[]'].value='1';
        }

    }
    function browse_emp() {
        document.getElementById('searchempdiv').style.top=document.body.scrollTop+5;
        document.getElementById('searchempiframe').style.top=document.body.scrollTop+5;
        document.getElementById('searchempdiv').style.left=(screen.width-1000)/2+250;
        document.getElementById('searchempiframe').style.left=(screen.width-1000)/2+250;
        showdiv('searchemp');
    }
    function load_emp() {
        document.getElementById("user_id").value=cur_user_id;
        document.getElementById("full_name").value=cur_full_name;
    }
</script>