<?php
if (isset($return_val["datefrom"])) {
    $sdate = explode("/", $return_val["datefrom"]);
    if ($sdate[0] > 0 && $sdate[0] <= 31 && $sdate[1] > 0 && $sdate[1] <= 12 && $sdate[2] <= date('Y')) {
        $sdate = mktime(0, 0, 0, $sdate[1], $sdate[0], $sdate[2]);
    }
}
if (!isset($sdate)) {
    if (date('m') > 1)
        $sdate = mktime(0, 0, 0, date('m') - 1, date('d'), date('Y'));
    else
        $sdate = mktime(0, 0, 0, 12, date('d'), date('Y') - 1);
    $return_val["datefrom"] = date('d/m/Y', $sdate);
}
if (isset($return_val["dateto"])) {
    $edate = explode("/", $return_val["dateto"]);
    if ($edate[0] > 0 && $edate[0] <= 31 && $edate[1] > 0 && $edate[1] <= 12 && $edate[2] <= date('Y')) {
        $edate = mktime(23, 59, 59, $edate[1], $edate[0], $edate[2]);
    }
}
if (!isset($edate)) {
    $edate = mktime(23, 59, 59, date('m'), date('d'), date('Y'));
}
if(!isset($return_val['warn_status'])) {
    if ($action->eda_decode == 'waranty_process') {
        $return_val['warn_status']='0';
    } else if ($action->eda_decode == 'waranty_out') {
        $return_val['warn_status']='2';
    }
}
?>
<Script type="text/javascript" src="bms/common/CalendarPopup.js"></Script>
<script language="javaScript" id="jscal1x">
    var cal = new CalendarPopup("calendarpopup");
    cal.setTodayText("Hôm nay");
    cal.showNavigationDropdowns();
    cal.setYearSelectStartOffset(20);
    cal.setMonthNames("Tháng 1","Tháng 2","Tháng 3","Tháng 4","Tháng 5","Tháng 6","Tháng 7","Tháng 8","Tháng 9","Tháng 10","Tháng 11","Tháng 12");
    cal.setDayHeaders("CN","T2","T3","T4","T5","T6","T7");
</script>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<DIV ID="calendarpopup" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
<?php
if ($action->eda_decode != 'waranty_process' && $action->eda_decode != 'waranty_out') {
    ?>
    <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom:0px;border-left:0px;border-right:0px;">
        <tr>
            <td width="30" align="center">
                <img style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/documents.png" width="18" height="18"/>        
            </td>
            <td  height="25"><b>Quản lý phiếu bảo hành</b></td>
            <td align="right" style="padding-right:5px;"><img onclick="window.location='?';" style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/back.gif" height="18"/></td>
        </tr>
    </table>
    <?php
}
?>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr><td style="padding:10px;">        
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="60" height="25"><b>Từ ngày</b></td>
                    <td width="70">
                        <input readonly style="width:70px;" class="catbg"  onclick="cal.select(document.getElementById('datefrom'),'anchor1','dd/MM/yyyy');if(document.getElementById('datefrom').value==''){d = new Date(); CP_refreshCalendar(0,1+d.getMonth(),d.getFullYear())}; return false;" class="textbox" value="<?= isset($return_val['datefrom']) ? $return_val['datefrom'] : '' ?>" onBlur="check_date(this);" name="datefrom" id="datefrom" type="text" />
                    </td><td width="20">
                        <A href="javascript:void()" onclick="cal.select(document.getElementById('datefrom'),'anchor1','dd/MM/yyyy'); if(document.getElementById('datefrom').value==''){d = new Date(); CP_refreshCalendar(0,1+d.getMonth(),d.getFullYear())}; return false;"><img  NAME="anchor1" ID="anchor1" src="<?=ROOT_URL?>bms/images/icon/calendar.gif" height="18" border="0"></A>
                    </td>
                    <td width="70" style="padding-right:15px;" align="right"><b>Đến ngày</b></td>
                    <td width="70">
                        <input readonly style="width:70px;" class="catbg"  onclick="cal.select(document.getElementById('dateto'),'anchor2','dd/MM/yyyy');if(document.getElementById('dateto').value==''){d = new Date(); CP_refreshCalendar(0,1+d.getMonth(),d.getFullYear())}; return false;" class="textbox" value="<?= isset($return_val['dateto']) ? $return_val['dateto'] : date('d/m/Y') ?>" onBlur="check_date(this);" name="dateto" id="dateto" type="text" />
                    </td> <td width="40">
                        <A href="javascript:void()" onclick="cal.select(document.getElementById('dateto'),'anchor2','dd/MM/yyyy'); if(document.getElementById('dateto').value==''){d = new Date(); CP_refreshCalendar(0,1+d.getMonth(),d.getFullYear())}; return false;"><img  NAME="anchor2" ID="anchor2" src="<?=ROOT_URL?>bms/images/icon/calendar.gif" height="18" border="0"></A>
                    </td>  
                    <td width="80"><b>Trạng thái</b></td>
                    <td width="200">
                        <select onchange="load_waranty();" style="width:180px;" class="textbox" name="warn_status" id="warn_status">
                            <option value="-1">Tất cả phiếu</option>
                            <option <?= isset($return_val['warn_status']) ? ($return_val['warn_status'] == 0 ? ' selected ' : '') : '' ?> value="0">Đang xử lý</option>
                            <option <?= isset($return_val['warn_status']) ? ($return_val['warn_status'] == 1 ? ' selected ' : '') : '' ?> value="1">Gửi BH-Sửa chữa</option>
                            <option <?= isset($return_val['warn_status']) ? ($return_val['warn_status'] == 2 ? ' selected ' : '') : '' ?> value="2">Sẳn sàng trả</option>
                            <option <?= isset($return_val['warn_status']) ? ($return_val['warn_status'] == 3 ? ' selected ' : '') : '' ?> value="3">Đã trả xong</option>
                            <option <?= isset($return_val['warn_status']) ? ($return_val['warn_status'] == 4 ? ' selected ' : '') : '' ?> value="4">Trả lại</option>
                        </select>
                    </td>
                    <td  width="80" align="left" style="padding-left:10px;"><b>Số phiếu</b></td>
                    <td>
                        <input onfocus="this.select();" onkeydown="if(event.which) code=event.which; else code=window.event.keyCode; if(code==13) load_waranty();" value="<?= isset($return_val['inv_code']) ? $return_val['inv_code'] : '' ?>" style="width:120px;" class="catbg" name="search_inv_code" type="text" id="search_inv_code" size="25" />
                    </td>                  
                </tr> 
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td  width="170"  height="25"><b>Tìm theo tên khách hàng</b></td>
                    <td  width="180">
                        <input onfocus="this.select();" onkeydown="if(event.which) code=event.which; else code=window.event.keyCode; if(code==13) load_waranty();" value="<?= isset($return_val['cus_name']) ? $return_val['cus_name'] : '' ?>" style="width:160px;" class="catbg" name="cus_name" type="text" id="cus_name" size="25" />
                    </td>   
                    <td  align="left" width="75"><b>Địa chỉ</b></td>
                    <td width="200">
                        <input onfocus="this.select();" onkeydown="if(event.which) code=event.which; else code=window.event.keyCode; if(code==13) load_waranty();" value="<?= isset($return_val['address']) ? $return_val['address'] : '' ?>" style="width:180px;" class="catbg" name="address" type="text" id="address" size="25" />
                    </td>  
                    <td  width="80" align="left" style="padding-left:10px;"><b>Điện thoại</b></td>
                    <td width="130">
                        <input onfocus="this.select();" onkeydown="if(event.which) code=event.which; else code=window.event.keyCode; if(code==13) load_waranty();" value="<?= isset($return_val['tel']) ? $return_val['tel'] : '' ?>" style="width:120px;" class="catbg" name="tel" type="text" id="tel" size="25" />
                    </td>                    
                    <td><input onclick="load_waranty();" type="button" value="Xem phiếu" class="button"></td>        
                </tr>             
            </table>
            <div id="contentid" style="margin-top:10px;">
                <?php
                include("bms/templates/waranty/waranty_man_inv.htm");
                ?>
            </div>
        </td></tr>
</table>
<?php
if ($action->eda_decode != 'waranty_process' && $action->eda_decode != 'waranty_out') {
    ?>

    <table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height=5><img src="<?=ROOT_URL?>bms/images/spacer.gif" height=5></td>
        </tr>
    </table>
    <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top:0px;border-left:0px;border-right:0px;">
        <tr>
            <td  height="30" style="padding-left:5px;" width="30">
                <img src="<?=ROOT_URL?>bms/images/icon/preview.gif" height="24">
            </td>
            <td   style="padding-left:5px;">
                <a class="cart_payment" href="javascript:void()" onclick="view_report();" ><b>Xem dạng in ấn</b></a>
            </td>        
            <td  height="30" style="padding-left:5px;">
            </td>
            <td align="right" style="padding-right:5px;"><img  onclick="window.location='?';" style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/back.gif" height="18"/></td>
        </tr>
    </table>
    <?php
}
?>
<script language="javascript" type="text/javascript">
    function load_waranty()
    {
        eda_request=load('?eda_type=ajax&eda_act=<?= md5("waranty") ?>&eda_code=<?= md5("waranty_man_inv") ?>&eda_decode=<?= $action->eda_decode ?>&inv_code='+document.getElementById('search_inv_code').value+
            '&datefrom='+document.getElementById('datefrom').value+'&dateto='+document.getElementById('dateto').value+
            '&tel='+document.getElementById('tel').value+'&cus_name='+document.getElementById('cus_name').value+
            '&warn_status='+document.getElementById('warn_status').value+
            '&address='+document.getElementById('address').value,'contentid','html','GET',null,'in');
    }
    function view_report() {
        window.open('?eda_code=<?= md5('view_report') ?>&eda_type=ajax&eda_module=waranty/waranty_man_inv&inv_code='+document.getElementById('search_inv_code').value+'&datefrom='+document.getElementById('datefrom').value+
            '&dateto='+document.getElementById('dateto').value+'&tel='+document.getElementById('tel').value+'&cus_name='+document.getElementById('cus_name').value+
            '&warn_status='+document.getElementById('warn_status').value+'&address='+document.getElementById('address').value);
    }
</script>          
