<table align="center" width="98%" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
    <tr>
        <td width="70%" align="center" bgcolor="#afd7ff" height="25"><b>Thống kê theo chủng loại sản phẩm</b></td>
        <td width="14%" align="center" bgcolor="#afd7ff"><b>Tổng số lượng</b></td>
        <td width="16%" align="center" bgcolor="#afd7ff"><b>Tổng tiền</b></td>
    </tr>
    <?php
    $where = '';
    if (@$return_val['return_type'] == 1) {
        $where = ' and inv.cus_id is not null';
    }
    if (@$return_val['return_type'] == 2) {
        $where = ' and inv.emp_stock_id is not null';
    }
    if (@$return_val['return_type'] == 3) {
        $where = ' and inv.sup_id is not null';
    }    
    $inv = get_data("select cat.cat_name, mat.mat_name, mms.mms_id, msu.msu_name, sum(invd.mat_quantity) quantity, sum(invd.amount) total from mat_return_invoices inv, mat_return_invoice_details invd, mat_msu mms, materials mat, stock_mat_msu smm, categories cat, meansure msu  where inv.inv_id=invd.inv_id and invd.smm_id=smm.smm_id and smm.mms_id=mms.mms_id and mms.mat_id=mat.mat_id and mat.cat_id=cat.cat_id " . (!empty($return_val['cat_id']) ? "  and cat.cat_id=" . $return_val['cat_id'] : "") . (!empty($return_val['user_id']) ? " and inv.user_id='" . $return_val['user_id'] . "' " : "") .$where. " and inv.created_date between " . $sdate . " and " . $edate . "  and mms.msu_id=msu.msu_id group by cat.cat_name, mat.mat_name, mms.mms_id order by cat.cat_name, mat.mat_name");
    $total = 0;
    $quantity = 0;
    $total_cat = 0;
    $quantity_cat = 0;
    $str = '';
    for ($i = 0; $i < count($inv); $i++) {
        $str.='<tr onmouseover="this.style.backgroundColor=\'yellow\';"  onmouseout="this.style.backgroundColor=\'\';">
		<td style="padding-left:5px;" height="25"> - ' . $inv[$i]['mat_name'] . ($action->eda_type!='ajax'?'<a class="cart_payment" href="?eda_act='. md5('sell') .'&eda_code='. md5('mat_return_detail') .'&datefrom='.$return_val['datefrom'].'&dateto='.$return_val['dateto'].'&cat_id='.$return_val['cat_id'].'&return_type='.$return_val['return_type'].'&user_id='.$return_val['user_id'].'&mms_id='.$inv[$i]['mms_id'].'" target="_blank"> (chi tiết)</a>':'').'</td>
		<td align="center">' . number_format($inv[$i]['quantity'], 0, ",", " ") . ' ' . $inv[$i]['msu_name'] . '</td>
		<td align="right" style="padding-right:5px;">' . number_format($inv[$i]['total'], 0, ",", " ") . '</td>
		</tr>';
        $total+=$inv[$i]['total'];
        $quantity+=$inv[$i]['quantity'];
        $total_cat+=$inv[$i]['total'];
        $quantity_cat+=$inv[$i]['quantity'];
        if ($inv[$i]['cat_name'] != ($i < count($inv) - 1 ? $inv[$i + 1]['cat_name'] : '')) {
            echo '<tr style="background-Color:#eeeeee;">
			<td style="padding-left:5px;" height="25"><b>' . $inv[$i]['cat_name'] . '</b></td>
			<td align="center"><b>' . number_format($quantity_cat, 0, ",", " ") . '</b></td>
			<td align="right" style="padding-right:5px;"><b>' . number_format($total_cat, 0, ",", " ") . '</b></td>
			</tr>';
            echo $str;
            $str = '';
            $total_cat = 0;
            $quantity_cat = 0;
        }
    }
    ?>	
    <tr style="background-Color:#dddddd;">
        <td height="25" align="center"><b>Tổng cộng</b></td>
        <td align="center"><b><?= number_format($quantity, 0, ",", " ") ?></b></td>
        <td align="right" style="padding-right:5px;"><b><?= number_format($total, 0, ",", " ") ?></b></td>
    </tr>
</table>
