<?php


$cat_query="";
$cat_arr=array();
if(@$_GET['cat_id']!=""){
    $arr=explode(",", $_GET['cat_id']);
    foreach ($arr as $key => $value) {
        if(intval($value)>0)
            $cat_arr[]=intval($value);
    }
    if(count($cat_arr)>0){
        $cat_query= " and cat.cat_id in (".join(",",$cat_arr).") ";
    }
}



$stocks=array();
$stock_query="";
$stock_arr=array();
if(@$_GET['stock_id']!=""){
    
    $arr=explode(",", $_GET['stock_id']);
    foreach ($arr as $key => $value) {
        if(intval($value)>0)
            $stock_arr[]=intval($value);
    }
    if(count($stock_arr)>0){
        $stock_query= " and stock.stock_id in (".join(",",$stock_arr).") ";
    }

if(count($stock_arr)>0){
    foreach ($stock_arr as $key => $ss) {
        $row=get_data("select * from stocks where stock_id=".intval($ss));
        if(is_array($row) && count($row)>0){
            $stocks[]=$row[0];
        }
    }
    
}

}

if(count($stock_arr)<=0){
$stocks=get_data("select * from stocks");
    if(is_array($stocks) && count($stocks)>0){

    }
    else
        $stocks=array();
}

$user_query="";
$user_arr=array();
if(@$_GET['user_id']!=""){
    
    $arr=explode(",", $_GET['user_id']);
    foreach ($arr as $key => $value) {
        if(intval($value)>0)
            $user_arr[]=intval($value);
    }
    if(count($user_arr)>0)
        $user_query= " and user.user_id in (".join(",",$user_arr).") ";
}
$where='';
    if(!check_func('view_input_all')) {
        $where.=" and inv.created_user='".$sessions->get_session('user_id')."'";
    }






$stock_name=array();
$user_name=array();
$cat_name=array();
$row=get_data("select * from stocks stock where 1=1 ".$stock_query);
if(is_array($row) && count($row)>0){
    foreach ($row as $key => $value) {
        $stock_name[]=$value['stock_name'];
    }
}

$row=get_data("select * from users user where 1=1 ".$user_query);
if(is_array($row) && count($row)>0){
    foreach ($row as $key => $value) {
        $user_name[]=$value['user_name'];
    }
}

$row=get_data("select * from categories cat where 1=1 ".$cat_query);
if(is_array($row) && count($row)>0){
    foreach ($row as $key => $value) {
        $cat_name[]=$value['cat_name'];
    }
}


//print_r($inv);die();

?>
<?php

if ($return_val['report_type'] == 5 && @$return_val['eda_module']=="sell/output_report"){
?>
<table align="center" width="98%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan=2 align="center">
            <div><b>Từ ngày:</b> <?= !empty($return_val['datefrom']) ? $return_val['datefrom'] : 'Tất cả' ?> -- <b>Đến ngày:</b> <?= !empty($return_val['dateto']) ? $return_val['dateto'] : date('d/m/Y') ?>
            </div>
        </td>
        </tr>
        <tr>
            <td colspan=2 align="center"><b>Chủng loại:</b>
                <?php
                if (count($cat_name) > 0 && @$_GET['cat_id']!="")
                    echo join(" , ",$cat_name);
                else
                    echo "Tất cả";
                ?> 
            </td>
        </tr>
        <tr>
            <td colspan=2 align="center"><b>Kho hàng:</b>
                <?php
                if (count($stock_name) > 0 && @$_GET['stock_id']!="")
                    echo join(" , ",$stock_name);
                else
                    echo "Tất cả";
                ?> 
            </td>  
        </tr>
        <tr>      
            <td colspan=2 align="center"><b>Người bán:</b>
                <?php
                if (count($user_name) > 0 && @$_GET['user_id']!="")
                    echo join(" , ",$user_name);
                else
                    echo "Tất cả";
                ?>                 
            </td>
        </tr>
    </table>

    <table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height=5><img src="<?=ROOT_URL?>bms/images/spacer.gif" height=10></td>
        </tr>
    </table>
<?php
}
?>

<div class=tbl_box_ov>
<div class=tbl_box>
<table align="center" width="98%" border="1" cellpadding="5" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
    <tr>
        <!-- <td width="4%" align="center" bgcolor="#afd7ff" height="25"><b>Kho</b></td>
        <td width="2%" align="center" bgcolor="#afd7ff"><b>Nhân viên</b></td>
        <td width="5%" align="center" bgcolor="#afd7ff"><b>Khách hàng</b></td>
        <td width="5%" align="center" bgcolor="#afd7ff"><b>Tên hàng</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>Quy cách</b></td>
        <td width="2%" align="center" bgcolor="#afd7ff"><b>Mã hàng</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>Loại hàng</b></td>
        <td width="1%" align="center" bgcolor="#afd7ff"><b>PR</b></td>
        <td width="5%" align="center" bgcolor="#afd7ff"><b>Chứng từ</b></td>
        <td width="1%" align="center" bgcolor="#afd7ff"><b>Gai</b></td>
        <td width="1%" align="center" bgcolor="#afd7ff"><b>ĐVT</b></td>
        <td width="1%" align="center" bgcolor="#afd7ff"><b>Số lượng</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>Đơn giá</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>VAT %</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>Tiền VAT</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>Thành tiền</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>Ngày xuất</b></td> -->
        <td width="4%" align="center" bgcolor="#afd7ff" height="25"><b>Kho</b></td>
        <td width="2%" align="center" bgcolor="#afd7ff"><b>Nhân viên</b></td>
        <td width="5%" align="center" bgcolor="#afd7ff"><b>Khách hàng</b></td>        
        <td width="3%" align="center" bgcolor="#afd7ff"><b>Ngày chứng từ</b></td>
        <td width="5%" align="center" bgcolor="#afd7ff"><b>Số chứng từ</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>Loại hàng</b></td>
        <td width="5%" align="center" bgcolor="#afd7ff"><b>Tên hàng</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>Quy cách</b></td>
        <td width="1%" align="center" bgcolor="#afd7ff"><b>PR</b></td>
        <td width="1%" align="center" bgcolor="#afd7ff"><b>Gai</b></td>
        <td width="1%" align="center" bgcolor="#afd7ff"><b>ĐVT</b></td>
        <td width="1%" align="center" bgcolor="#afd7ff"><b>Số lượng</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>Đơn giá</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>VAT %</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>Tiền VAT</b></td>
        <td width="3%" align="center" bgcolor="#afd7ff"><b>Thành tiền</b></td>
    </tr>
    <?php
$rhtml="";
$ttall=0;
$tslall=0;
$tvatall=0;
foreach ($stocks as $key => $st) {
    
    $stock_query=" and stock.stock_id='".intval($st['stock_id'])."' ";

    $row_html="";
    
$inv=get_data("select cus.cus_name,mat.qc,inv.created_date,mat.pr,mat.gai,mat.mat_model,inv.inv_code,stock.stock_name,user.user_name, user.user_id, mat.mat_name, mms.mms_id, msu.msu_name , invd.mat_quantity,invd.price,invd.amount,invd.vat invd_vat,cat.cat_name from out_invoices inv, out_invoice_details invd, mat_msu mms, materials mat, categories cat, users user, meansure msu,stocks stock,stock_mat_msu smm,customers cus where cus.cus_id=inv.cus_id ".$stock_query.$where." and inv.user_id=user.user_id and inv.inv_id=invd.inv_id and invd.smm_id=smm.smm_id and mms.mat_id=mat.mat_id and mat.cat_id=cat.cat_id and smm.stock_id=stock.stock_id and mms.msu_id=msu.msu_id and smm.mms_id=mms.mms_id ".$cat_query.$user_query." and inv.created_date between ".$sdate." and ".$edate." ");

$tongtien=0;
$tongsl=0;
$tongvat=0;

if(is_array($inv) && count($inv)>0){
    foreach ($inv as $key => $value) {
        $vatg=intval(@($value['invd_vat']*$value['price']*$value['mat_quantity']/100));
        $row_html.= '<tr>
            
            <td>'.$value['stock_name'].'</td>
            <td>'.$value['user_name'].'</td>
            <td>'.$value['cus_name'].'</td>

            <td>'.date('d/m/Y H:i',$value['created_date']).'</td>
            <td>'.$value['inv_code'].'</td>
            <td>'.$value['cat_name'].'</td>

            <td>'.$value['mat_name'].'</td>
            <td>'.$value['qc'].'</td>
            <td>'.$value['pr'].'</td>
            <td>'.$value['gai'].'</td>
            <td>'.$value['msu_name'].'</td>
            <td>'.$value['mat_quantity'].'</td>
            <td align=right>'.numF($value['price']).'</td>            
            <td align=right>'.numF($value['invd_vat']).'%</td>
            <td align=right>'.numF($vatg).'</td>
            <td align=right>'.numF($value['amount']).'</td>
        </tr>';
        $tongtien+=($value['amount']);
        $tongsl+=$value['mat_quantity'];
        $tongvat+=$vatg;
        $ttall+=($value['price']*$value['mat_quantity']);
        $tslall+=$value['mat_quantity'];
        $tvatall+=$vatg;
    }
$tr_html='<tr>
        <td bgcolor="#deebf7" colspan=11>'.$st['stock_name'].'</td>
        <td bgcolor="#deebf7" >'.numF($tongsl).'</td>
        <td bgcolor="#deebf7"></td>
        <td bgcolor="#deebf7"></td>
        <td bgcolor="#deebf7" align=right>'.numF($tongvat).'</td>
        <td bgcolor="#deebf7" align=right>'.numF($tongtien).'</td>
    </tr>';
    $rhtml.=$tr_html.$row_html;
}


}
echo $rhtml;
echo '<tr>
        <td bgcolor="#deebf7" colspan=11 align=right><b>Tổng : &nbsp;</b></td>
        <td bgcolor="#deebf7" >'.numF($tslall).'</td>
        <td bgcolor="#deebf7"></td>
        <td bgcolor="#deebf7"></td>
        <td bgcolor="#deebf7" align=right>'.numF($tvatall).'</td>
        <td bgcolor="#deebf7" align=right>'.numF($ttall).'</td>
    </tr>';
    ?>
</table>
</div>
</div>