<table align="center" width="98%" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
    <tr>
        <td  align="center" bgcolor="#afd7ff" height="25"><b>Thống kê theo chủng loại sản phẩm</b></td>
        <td width="20%" align="center" bgcolor="#afd7ff"><b>Tổng số lượng</b></td>
        <?php
        $chk_priv=check_func('view_output_price');
        if ($chk_priv) {
        ?>       
        <td width="16%" align="center" bgcolor="#afd7ff"><b>Đơn giá</b></td>   
        <td width="20%" align="center" bgcolor="#afd7ff"><b>Tổng tiền</b></td>
        <td width="16%" align="center" bgcolor="#afd7ff"><b>Tiền VAT</b></td>
        <?php
        }
        ?>
    </tr>
    <?php
    $chk_mainstock = get_data("select ugp.ugp_id from user_group_permission ugp, function_menu fmenu where (ugp.user_id='" . $sessions->get_session("user_id") . "' or ugp.group_id='" . $sessions->get_session("group_id") . "') and ugp.fmenu_id=fmenu.fmenu_id and fmenu_act='mainstock'");
    $chk_empstock = get_data("select ugp.ugp_id from user_group_permission ugp, function_menu fmenu where (ugp.user_id='" . $sessions->get_session("user_id") . "' or ugp.group_id='" . $sessions->get_session("group_id") . "') and ugp.fmenu_id=fmenu.fmenu_id and fmenu_act='empstock'");
    if (count($chk_mainstock) > 0 && count($chk_empstock) > 0) {
        $stock_where = "";
    } else if (count($chk_mainstock) > 0) {
        $stock_where = " and smm.stock_id in (select stock_id from stocks where user_id is null or user_id='" . $sessions->get_session('user_id') . "')";
    } else {
        $stock_where = " and smm.stock_id in (select stock_id from stocks where user_id='" . $sessions->get_session('user_id') . "')";
    }
    $inv = get_data("select 1 gr, cat.cat_name, mat.mat_name, mms.mms_id, msu.msu_name,invd.amount,sum(invd.vat*invd.price/100) vat_pr, sum(invd.amount) total, sum(invd.mat_quantity) quantity 
					from out_invoices inv, out_invoice_details invd, stock_mat_msu smm, mat_msu mms, materials mat, categories cat, meansure msu  
					where invd.amount>0 and inv.inv_type=0 and  inv.inv_id=invd.inv_id and invd.smm_id=smm.smm_id " . (!empty($return_val['stock_id']) ? "  
					and smm.stock_id=" . $return_val['stock_id'] : $stock_where) . " and smm.mms_id=mms.mms_id and mms.mat_id=mat.mat_id 
					and mat.cat_id=cat.cat_id " . (!empty($return_val['cat_id']) ? "  and cat.cat_id=" . $return_val['cat_id'] : "").(!empty($return_val['draft_chk'])?" and inv.draft=1":"") . (!empty($return_val['user_id']) ? " 
					and inv.user_id='" . $return_val['user_id'] . "' " : "").(!empty($return_val['cus_id']) ? " and inv.cus_id='" . $return_val['cus_id'] . "' " : "") . " and inv.created_date between " . $sdate . " and " . $edate . " and mms.msu_id=msu.msu_id 
					" . ($return_val['cus_chk'] == 1 ? " and inv.cus_id in(select cus_id from customers where cus_name like '%Khách lẻ%')" : '') . "
					group by cat.cat_name, mat.mat_name, mms.mms_id 
                      union select 2 gr, cat.cat_name, mat.mat_name, mms.mms_id, msu.msu_name,invd.amount,sum(invd.vat*invd.price/100) vat_pr, sum(invd.amount) total, sum(invd.mat_quantity) quantity 
					from out_invoices inv, out_invoice_details invd, stock_mat_msu smm, mat_msu mms, materials mat, categories cat, meansure msu  
					where invd.amount=0 and inv.inv_type=0 and  inv.inv_id=invd.inv_id and invd.smm_id=smm.smm_id " . (!empty($return_val['stock_id']) ? "  
					and smm.stock_id=" . $return_val['stock_id'] : $stock_where) . " and smm.mms_id=mms.mms_id and mms.mat_id=mat.mat_id 
					and mat.cat_id=cat.cat_id " . (!empty($return_val['cat_id']) ? "  and cat.cat_id=" . $return_val['cat_id'] : "").(!empty($return_val['draft_chk'])?" and inv.draft=1":"") . (!empty($return_val['user_id']) ? " 
					and inv.user_id='" . $return_val['user_id'] . "' " : "").(!empty($return_val['cus_id']) ? " and inv.cus_id='" . $return_val['cus_id'] . "' " : "") . " and inv.created_date between " . $sdate . " and " . $edate . " and mms.msu_id=msu.msu_id 
					" . ($return_val['cus_chk'] == 1 ? " and inv.cus_id in(select cus_id from customers where cus_name like '%Khách lẻ%')" : '') . "
					group by cat.cat_name, mat.mat_name, mms.mms_id
                                        order by cat_name, mat_name, gr");
    $total = 0;
    $total_vat = 0;
    $quantity = 0;
    $total_cat = 0;
    $vat_cat = 0;
    $quantity_cat = 0;
    $total_vat = 0;
    $str = '';
    for ($i = 0; $i < count($inv); $i++) {
        $str.='<tr onmouseover="this.style.backgroundColor=\'yellow\';"  onmouseout="this.style.backgroundColor=\'\';">
		<td style="padding-left:5px;" height="25"> - ' . $inv[$i]['mat_name'] . ($action->eda_type!='ajax'?'<a class="cart_payment" href="?eda_act='. md5('sell') .'&eda_code='. md5('output_detail') .'&datefrom='.$return_val['datefrom'].'&dateto='.$return_val['dateto'].'&stock_id='.$return_val['stock_id'].'&mms_id='.$inv[$i]['mms_id'].'" target="_blank"> (chi tiết)</a>':'').'</td>
		<td align="center">' . number_format($inv[$i]['quantity'], 0, ",", " ") . ' ' . $inv[$i]['msu_name'] . '</td>';
        if ($chk_priv) {
		$str.= '<td align="right" style="padding-right:5px;">' . number_format($inv[$i]['amount'], 0, ",", " ") . '</td>';
        $str.= '<td align="right" style="padding-right:5px;">' . number_format($inv[$i]['total'], 0, ",", " ") . '</td>';
        $str.= '<td align="right" style="padding-right:5px;">' . number_format($inv[$i]['vat_pr'], 0, ",", " ") . '</td>';
        }
	$str.= '</tr>';
        $total+=$inv[$i]['total'];
        $total_vat+=$inv[$i]['vat_pr'];
        $quantity+=$inv[$i]['quantity'];
        $total_cat+=$inv[$i]['total'];
        $vat_cat+=$inv[$i]['vat_pr'];
        $quantity_cat+=$inv[$i]['quantity'];
        if ($inv[$i]['cat_name'] != ($i < count($inv) - 1 ? $inv[$i + 1]['cat_name'] : '')) {
            echo '<tr style="background-Color:#eeeeee;">
			<td style="padding-left:5px;" height="25"><b>' . $inv[$i]['cat_name'] . '</b></td>
			<td align="center"><b>' . number_format($quantity_cat, 0, ",", " ") . '</b></td>';
            if ($chk_priv) {
			echo '<td align="right" style="padding-right:5px;"></td>';
            echo '<td align="right" style="padding-right:5px;"><b>' . number_format($total_cat, 0, ",", " ") . '</b></td>';
            echo '<td align="right" style="padding-right:5px;"><b>' . number_format($vat_cat, 0, ",", " ") . '</b></td>';
            }
            echo '</tr>';
            echo $str;
            $str = '';
            $total_cat = 0;
            $quantity_cat = 0;
        }
    }
    if ($chk_priv) {
    ?>	
    <tr style="background-color:#dddddd;">
        <td height="25" align="center" colspan="3"><b>Tổng cộng</b></td>
        <td align="right" style="padding-right:5px;"><b><?= number_format($total, 0, ",", " ") ?></b></td>
        <td align="right" style="padding-right:5px;"><b><?= number_format($total_vat, 0, ",", " ") ?></b></td>
    </tr>
    <?php
    }
    ?>
</table>
