<?php
$return_url=unserialize($sessions->get_session('return_url'));
if($action->eda_type!='ajax')
{
?>	
      <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom:0px;border-left:0px;border-right:0px;">
        <tr>
        <td width="30" align="center">
          <img style="cursor:pointer;" src="<?=ROOT_URL?>/bms/images/icon/cart.png" width="18" height="18"/>        
          </td>
          <td  height="25"><b>Phiếu trả hàng</b></td>
        <td align="right" style="padding-right:5px;"><img onclick="<?= $action->eda_code==md5('mat_return_finish')?'window.location=\'?eda_act='.md5('sell').'&eda_code='.md5('mat_return').'\'':'window.location=\''.$return_url['mat_return_report'].'\';'?>" style="cursor:pointer;" src="<?=ROOT_URL?>/bms/images/icon/back.gif" height="18"/></td>
        </tr>
        </table>       
<?php
	}
	$return_val=get_data("select inv.*, usr.full_name from mat_return_invoices inv, users usr where inv.inv_id='".$action->eda_id."' and inv.user_id=usr.user_id");
	if(count($return_val)>0)
	{
		$return_val=$return_val[0];	
?>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td style="padding:10px;">        
      <table width="780" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="25" width="180" align="left"><b>Người nhập</b></td>
              <td width="200"><?= $return_val['full_name']?></td>
              <td height="25" width="110" align="left" style="padding-left:20px;"><b>Thời gian nhập</b></td>
              <td><?= date('d/m/Y H:i',$return_val['created_date'])?></td>
            </tr>
            <tr>
              <td height="25" align="left"><b>Phương thức: </b></td>
              <td>
              <?php
              	if(!empty($return_val['sup_id'])) {
              		echo "Trả lại nhà cung cấp";
              	} else if(!empty($return_val['cus_id'])) {
              		echo "Nhập khách trả lại";
              	} else if(!empty($return_val['emp_stock_id'])) {
              		echo "Nhập NV trả lại";
              	}
              ?>
              </td>
              <td height="25" align="left" style="padding-left:20px;"><b>Số chứng từ</b></td>
              <td>          
              <?= $return_val['inv_code']?>
              </td>             
            </tr>        
            <tr>
              <td height="25" align="left"><b>Tên người trả</b></td>
              <td>
              <?php
              	if(!empty($return_val['sup_id'])) {
              		$sup=get_data("select sup_name from supliers where sup_id='".$return_val['sup_id']."'");
              		echo $sup[0][0];
              	} else if(!empty($return_val['cus_id'])) {
              		$sup=get_data("select cus_name from customers where cus_id='".$return_val['cus_id']."'");
              		echo $sup[0][0];              	
              	} else if(!empty($return_val['emp_stock_id'])) {
              		$sup=get_data("select stock_name from stocks where stock_id='".$return_val['emp_stock_id']."'");
              		echo $sup[0][0];              	
              	}              
              ?>
              </td>
              <td height="25" align="left" style="padding-left:20px;"><b>Kho nhận</b></td>
              <td>          
              <?php
              	if(!empty($return_val['stock_id'])) {
              		$sup=get_data("select stock_name from stocks where stock_id='".$return_val['stock_id']."'");
              		echo $sup[0][0];             	
              	} else {
              		echo 'Nhập kho nhà cung cấp';
              	}
              ?>
              </td>             
            </tr>                        
            <tr>
              <td height="25" align="left"><b>Hình thức trả</b></td>
              <td colspan="3">
                  <?= ($return_val['paid_type']==1?'Khấu trừ công nợ':'Hoàn lại tiền')?>
              </td>
            </tr>
            <tr>
              <td height="25" align="left"><b>Ghi chú</b></td>
              <td colspan="3"><?= isset($return_val['comment'])?$return_val['comment']:''?></td>
            </tr> 
          </table>
	<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	      <tr>
		<td height="40"><b>DANH SÁCH HÀNG HOÁ TRẢ LẠI</b></td>
		<td align="right"></td>
	      </tr>
	</table>
	<table width="780" id="mat_tbl" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
	<tbody>
	    <tr>
		<td width="320" align="center" bgcolor="#afd7ff" height="25"><b>Sản phẩm</b></td>
		<td width="80" align="center" bgcolor="#afd7ff"><b>Số lượng</b></td>
		<td width="80" align="center" bgcolor="#afd7ff"><b>Đơn vị</b></td>
		<td width="140" align="center" bgcolor="#afd7ff"><b>Đơn giá</b></td>
		<td width="160" align="center" bgcolor="#afd7ff"><b>Thành tiền</b></td>
		</tr>
<?php
	$mat=get_data("select invd.*, mat.mat_name, mat.mat_waranty, mat.mat_price, msu.msu_name from mat_return_invoice_details invd, stock_mat_msu smm, mat_msu mms, materials mat, meansure msu where invd.inv_id='".$action->eda_id."' and invd.smm_id=smm.smm_id and smm.mms_id=mms.mms_id and mms.mat_id=mat.mat_id and mms.msu_id=msu.msu_id");
	for($i=0;$i<count($mat);$i++)
	{
?>	
		<tr>
		<td style="padding-left:5px;" height="25">
		<?=$mat[$i]['mat_name'].(!empty($mat[$i]['serials'])?" (Serials: ".$mat[$i]['serials'].")":"")?>
		</td>
		<td align="center"><?= number_format($mat[$i]['mat_quantity'],0,'',' ')?></td>
		<td align="center"><?= $mat[$i]['msu_name']?></td>
		<td align="center"><?= number_format($mat[$i]['amount']/$mat[$i]['mat_quantity'],0,'',' ')?></td>
	    <td align="center"><?= number_format($mat[$i]['amount'],0,'',' ')?></td>
	    </tr>
<?php
	}
?>    
<tr><td colspan="4" height="25" align="center"><b>Tổng cộng</b></td><td align="center"><?= number_format($return_val['total'],0,'',' ')?></td></tr>
	   </tbody>
	</table>
</td></tr>
<?php
if($action->eda_type!='ajax')
{
?>
<tr><td style="padding-left:20px;"><b>Người tạo: </b>
<?php
	$usr=get_data("select full_name from users where user_id='".$return_val['created_user']."'");
	if(count($usr)>0)
		echo $usr[0]['full_name'];
	else
		echo "Không xác định";	
?>		
</td><tr>
<?php
	}
?>
</table>
<?php
	}
	else
		echo 'Không tìm thấy phiếu bán hàng';
?>	
<?php
if($action->eda_type!='ajax')
{
?>
	<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	      <tr>
		<td height=5 ><img src="<?=ROOT_URL?>/bms/images/spacer.gif" height=5></td>
	      </tr>
	     </table>

	   <table width="100%"  border="0" cellpadding="0" cellspacing="0">   
	      <tr>
                <?php
                if (check_func('del_return')) {
                ?>                    
		<td height="25" width="20" style="padding-left:20px;"><img src="<?=ROOT_URL?>/bms/images/icon/cancel_f2.png" height="18"></td>
		<td width="120" style="padding-left:5px;cursor:pointer;" onclick="del_output(<?= $action->eda_id?>)"><a class="cart_payment" href="javascript:void()"><b>Xoá phiếu trả hàng</b></a></td>
                <?php
                }
                ?>
                <?php
                if (check_func('edit_return')) {
                ?>                   
		<td width="20" style="padding-left:20px;"><img src="<?=ROOT_URL?>/bms/images/icon/edit_f2.png" height="18"></td>
		<td style="padding-left:5px;" onclick="edit_output(<?= $action->eda_id?>)"><a class="cart_payment" href="javascript:void()"><b>sửa phiếu trả hàng</b></a></td>
                <?php
                }
                ?>                
	      </tr>	      	      
	</table>

 <script language="javascript">
 	function del_output(id)
 	{
 		if(id>0)
 		{
 			c=confirm("Bạn có chắc chắn muốn xoá phiếu trả hàng này không?");
 			if(c)
 				window.location="?eda_act=<?= md5('sell')?>&eda_code=<?= md5('del_mat_return')?>&eda_id="+id;
 		}
 		else
 			alert('Không tìm thấy phiếu trả hàng');
 	}
 	function edit_output(id)
 	{
 		if(id>0)
 		{
			window.location="?eda_act=<?= md5('sell')?>&eda_code=<?= md5('edit_mat_return')?>&eda_id="+id;
 		}
 		else
 			alert('Không tìm thấy phiếu trả hàng');
 	} 	
 </script>	
	<table width="100%"  border="0" cellpadding="0" cellspacing="0">
	      <tr>
		<td height=5><img src="<?=ROOT_URL?>/bms/images/spacer.gif" height=5></td>
	      </tr>
	</table>
        <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top:0px;border-left:0px;border-right:0px;">
        <tr>
          <td  height="30" style="padding-left:5px;" width="30">
          <img src="<?=ROOT_URL?>/bms/images/icon/preview.gif" height="24">
          </td>
          <td   style="padding-left:5px;">
          <a class="cart_payment" href="?eda_code=<?= md5('view_report')?>&eda_type=ajax&eda_module=sell/view_mat_return&eda_id=<?= $action->eda_id?>" target="_blank"><b>Xem dạng in ấn</b></a>
          </td>
        <td align="right" style="padding-right:5px;"><img  onclick="<?= $action->eda_code==md5('mat_return_finish')?'window.location=\'?eda_act='.md5('sell').'&eda_code='.md5('mat_return').'\'':'window.location=\''.$return_url['mat_return_report'].'\';'?>" style="cursor:pointer;" src="<?=ROOT_URL?>/bms/images/icon/back.gif" height="18"/></td>
        </tr>
        </table>       
<?php
	}                
?>
