<table align="center" width="98%" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
    <tr>
        <td width="10%" align="center" bgcolor="#afd7ff" height="25"><b>Mã phiếu</b></td>
        <td width="10%" align="center" bgcolor="#afd7ff" height="25"><b>Đối tượng</b></td>
        <td width="14%" align="center" bgcolor="#afd7ff"><b>Thời gian</b></td>
        <td width="15%" align="center" bgcolor="#afd7ff"><b>Người Thu/Chi</b></td>
        <td width="18%" align="center" bgcolor="#afd7ff"><b>Khoản</b></td>
        <td width="29%" align="center" bgcolor="#afd7ff"><b>Nội dung</b></td>
        <td  align="center" bgcolor="#afd7ff"><b>Số tiền</b></td>
    </tr>
    <?php
    $rmvi=false;
    if(@$return_val['bin_type']=="" || @$return_val['bin_type']==-2){
$return_val['bin_type']=-1;
$rmvi=true;
    }
//die(@$return_val['bin_type']."");
    $bin = get_data("select bin.*, usr.full_name, itt.item_name from budget_invoices bin, item_type itt, users usr where " .($rmvi?" bin.inv_id is null and ":""). (!empty($return_val['fund_id']) ? " bin.fund_id='" . $return_val['fund_id'] . "' and " : "") . (!empty($return_val['user_id']) ? " bin.user_id='" . $return_val['user_id'] . "' and " : "") . (isset($return_val['bin_type']) ? ($return_val['bin_type'] != -1 ? " bin.bin_type='" . $return_val['bin_type'] . "' and " : "") : "") . (isset($return_val['item_id']) ? ($return_val['item_id'] != -1 ? " itt.item_id='" . $return_val['item_id'] . "' and " : "") : "") . " bin.created_date between " . $sdate . " and " . $edate . " and bin.user_id=usr.user_id and bin.item_id=itt.item_id  order by bin.bin_type, bin.created_date desc");
    $bin_before = get_data("select bin.bin_type, sum(bin.amount) amount from budget_invoices bin, item_type itt, users usr where " . (!empty($return_val['fund_id']) ? " bin.fund_id='" . $return_val['fund_id'] . "' and " : "") . (!empty($return_val['user_id']) ? " bin.user_id='" . $return_val['user_id'] . "' and " : "") . (isset($return_val['bin_type']) ? ($return_val['bin_type'] != -1 ? " bin.bin_type='" . $return_val['bin_type'] . "' and " : "") : "") . (isset($return_val['item_id']) ? ($return_val['item_id'] != -1 ? " itt.item_id='" . $return_val['item_id'] . "' and " : "") : "") . "   bin.created_date < " . $sdate . "  and bin.user_id=usr.user_id and bin.item_id=itt.item_id  group by bin.bin_type order by bin.bin_type");
    $bin_after = get_data("select bin.bin_type, sum(bin.amount) amount from budget_invoices bin, item_type itt, users usr where " . (!empty($return_val['fund_id']) ? " bin.fund_id='" . $return_val['fund_id'] . "' and " : "") . (!empty($return_val['user_id']) ? " bin.user_id='" . $return_val['user_id'] . "' and " : "") . (isset($return_val['bin_type']) ? ($return_val['bin_type'] != -1 ? " bin.bin_type='" . $return_val['bin_type'] . "' and " : "") : "") . (isset($return_val['item_id']) ? ($return_val['item_id'] != -1 ? " itt.item_id='" . $return_val['item_id'] . "' and " : "") : "") . "   bin.created_date > " . $edate . "  and bin.user_id=usr.user_id and bin.item_id=itt.item_id  group by bin.bin_type order by bin.bin_type");
    $amount_in = 0;
    $amount_out = 0;
    for ($i = 0; $i < count($bin); $i++) {



        $doituong=$bin[$i]['user_name'];
        if(intval(@$bin[$i]['cus_id'])>0){
            $dt=get_data("select * from customers where cus_id=".intval(@$bin[$i]['cus_id']));
            if(is_array($dt) && count($dt)>0)
            $doituong=$dt[0]['cus_name'];
        }
        if(intval(@$bin[$i]['sup_id'])>0){
            $dt=get_data("select * from supliers where sup_id=".intval(@$bin[$i]['sup_id']));
            if(is_array($dt) && count($dt)>0)
            $doituong=$dt[0]['sup_name'];
        }


        if ($i > 0 && $bin[$i]['bin_type'] != $bin[$i - 1]['bin_type'] && $bin[$i]['bin_type'] != 3) {
            ?>	
            <tr style="background-Color:#eeeeee;font-weight:bold;">
                <td colspan="6" align="center" height="25">Tổng <?= ($bin[$i - 1]['bin_type'] == 0 ? 'Thu' : 'Chi') ?></td>
                <td align="right" style="padding-right:5px;"><?= number_format(($bin[$i - 1]['bin_type'] == 0 ? $amount_in : $amount_out), 0, ",", " ") ?></td>
            </tr>
        <?php
    }
    ?>		
        <tr  <?= $action->eda_type != 'ajax' ? ' style="cursor:pointer;" onmouseover="this.style.backgroundColor=\'yellow\';" onmouseout="this.style.backgroundColor=\'\';" onclick="window.location=\'?eda_act=' . md5('finance') . '&eda_code=' . md5('view_budget_' . ($bin[$i]['bin_type'] == 0 ? 'input' : 'output')) . '&eda_id=' . $bin[$i]['bin_id'] . '\';"' : '' ?>>
            <td align="center" height="25"><a href="?eda_act=<?= md5('finance') . '&eda_code=' . md5('view_budget_' . ($bin[$i]['bin_type'] == 0 ? 'input' : 'output')) . '&eda_id=' . $bin[$i]['bin_id'] ?>"><?= $bin[$i]['bin_code'] ?></a></td>
            <td align="center"><?= $doituong ?></td>
            <td align="center"><?= date('d/m/Y H:i', $bin[$i]['created_date']) ?></td>
            <td style="padding-left:5px;"  style="padding-top:5px;padding-bottom:5px;"><?= $bin[$i]['full_name'] ?></td>
            <td style="padding-left:5px;"><?= ($bin[$i]['bin_type'] == 0 ? 'Thu - ' : 'Chi - ') . $bin[$i]['item_name'] ?></td>
            <td style="padding-left:5px;"><?= $bin[$i]['comment'] ?></td>		
            <td align="right" style="padding-right:5px;"><?= number_format($bin[$i]['amount'], 0, ",", " ") ?></td>
        </tr>

    <?php
    if ($bin[$i]['bin_type'] == 0)
        $amount_in+=$bin[$i]['amount'];
    else
        $amount_out+=$bin[$i]['amount'];
}















if (count($bin) > 0) {
    ?>	
        <tr style="background-Color:#eeeeee;font-weight:bold;">
            <td colspan="6" align="center" height="25">Tổng <?= ($bin[$i - 1]['bin_type'] == 0 ? 'Thu' : 'Chi') ?></td>
            <td align="right" style="padding-right:5px;"><?= number_format(($bin[$i - 1]['bin_type'] == 0 ? $amount_in : $amount_out), 0, ",", " ") ?></td>
        </tr>
    <?php
}
if (!isset($return_val['bin_type']) || $return_val['bin_type'] == -1) {
    ?>		
        <tr style="background-Color:#afd7ff;">
            <td colspan="6" height="25" align="center"><b>Tổng cộng (Thu-Chi) theo phiếu</b></td>
            <td align="right" style="padding-right:5px;"><b><?= number_format($amount_in - $amount_out, 0, ",", " ") ?></b></td>
        </tr>
        <?php
    }
    ?>		
</table>
<?php
if(empty($return_val['item_id']))
{
    $return_val['item_id']=-1;
    $return_val['bin_type']=-1;
}


if(@$return_val['item_id']==-1){
?>
<br><br>
<table align="center" width="98%" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
    <tr>
        <td width="10%" align="center" bgcolor="#afd7ff" height="25"><b>Thời gian</b></td>
        <td width="18%" align="center" bgcolor="#afd7ff"><b>Người thực hiện</b></td>
        <td width="50%" align="center" bgcolor="#afd7ff"><b>Nội dung phí</b></td>
        <td  align="center" bgcolor="#afd7ff"><b>Số tiền</b></td>
    </tr>
    <?php
    $cnsql="";
    switch (intval(@$return_val['bin_type'])) {

        case 0:
            $cnsql=" and price>=0 ";
            break;
        case 1:
            $cnsql=" and price<0 ";
            break;
        case 3:
            $cnsql=" and price<0 ";
            break;
        default:
            # code...
            break;
    }
    $amount_ = 0;
    $congno = get_data("select bin.*, usr.full_name from congno bin, users usr where bin.type_of=1 $cnsql and bin.tg between " . $sdate . " and " . $edate . " and bin.user_id=usr.user_id ".(intval(@$return_val['user_id'])>0?"and usr.user_id=".intval(@$return_val['user_id'])."":"")." order by bin.tg desc");
    for ($i = 0; $i < count($congno); $i++) {
        ?>      
        <tr>
            <td align="center" height="25"><?= date('d/m/Y H:i', $congno[$i]['tg']) ?></td>
            <td align="center"  style="padding-top:5px;padding-bottom:5px;"><?= $congno[$i]['full_name'] ?></td>
            <td style="padding-left:5px;"><?= $congno[$i]['content'] ?></td>       
            <td align="center"><?php 
            if($congno[$i]['price']<0)
                echo "<b style='color:red'>(Chi) ".number_format(abs($congno[$i]['price']), 0, ",", " ")."</b>";
            else
                echo "<b style='color:green'>(Thu) ".number_format(abs($congno[$i]['price']), 0, ",", " ")."</b>";
            ?></td>
        </tr>

        <?php
        $amount_+=$congno[$i]['price'];
    }
    ?>  
    <tr style="background-Color:#eeeeee;font-weight:bold;">
        <td colspan="3" align="center" height="25">Tổng thu chi phụ phí</td>
        <td align="center"><?php 
if($amount_>=0)
        echo "<b style='color:green'>(Thu) ".number_format($amount_, 0, ",", " ")."</b>";
    else
        echo "<b style='color:red'>(Chi) ".number_format(abs($amount_), 0, ",", " ")."</b>";

    ?></td>
    </tr>
</table>
<?php
}
?>
<table><tr><td><img src="<?=ROOT_URL?>bms/images/spacer.gif" height="10"></td></tr></table>
    <?php
    $total_in = 0;
    $total_out = 0;
    if (!empty($return_val['fund_id'])) {
        $inv_in = get_data("SELECT fund.inv_code, fund.inv_id, fund.created_date, fund.amount, fund.comment, fundfrom.fund_name from_name, fundto.fund_name to_name, usr.full_name
                              FROM users usr, fund fundfrom, fund fundto, fund_invoices fund
                              WHERE usr.user_id=fund.user_id AND fund.fund_from = fundfrom.fund_id AND 
                              fund.fund_to = fundto.fund_id AND fund.fund_to=" . $return_val['fund_id'] . (!empty($return_val['user_id']) ? " AND fund.user_id=" . $return_val['user_id'] : '')
                . " and  fund.created_date between " . $sdate . " and " . $edate . "
                              ORDER BY   fund.fund_to, fund.created_date DESC");

        if (count($inv_in) > 0) {
            ?>
        <table align="center" width="98%" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
            <tr>
                <td width="12%" align="center" bgcolor="#afd7ff" height="25"><b>Số chứng từ</b></td>
                <td width="16%" align="center" bgcolor="#afd7ff"><b>Thời gian</b></td>
                <td width="18%" align="center" bgcolor="#afd7ff"><b>Người thực hiện</b></td>
                <td width="18%" align="center" bgcolor="#afd7ff"><b>Tài khoản chuyển</b></td>
                <td width="18%" align="center" bgcolor="#afd7ff"><b>Tài khoản nhận</b></td>
                <td  align="center" bgcolor="#afd7ff"><b>Số tiền</b></td>
            </tr>
        <?php
        for ($i = 0; $i < count($inv_in); $i++) {
            ?>
                <tr  <?= $action->eda_type != 'ajax' ? ' style="cursor:pointer;" onmouseover="this.style.backgroundColor=\'yellow\';" onmouseout="this.style.backgroundColor=\'\';" onclick="window.open(\'?eda_code=aba1e9d71cadc02500a038a2d6c2ab3e&eda_type=ajax&eda_module=finance/move_fund_view&eda_id=' . $inv_in[$i]['inv_id'] . '\');"' : '' ?>>
                    <td align="center" height="25"><?= $inv_in[$i]['inv_code'] ?></td>
                    <td align="center"><?= date('d/m/Y H:i', $inv_in[$i]['created_date']) ?></td>
                    <td style="padding-left:5px;"><?= $inv_in[$i]['full_name'] ?></td>
                    <td style="padding-left:5px;"><?= $inv_in[$i]['from_name'] ?></td>
                    <td style="padding-left:5px;"><?= $inv_in[$i]['to_name'] ?></td>
                    <td align="right" style="padding-right:5px;"><?= number_format($inv_in[$i]['amount'], 0, ",", " ") ?></td>
                </tr>
            <?php
            $total_in+=$inv_in[$i]['amount'];
        }
        if (!empty($return_val['fund_id'])) {
            ?>
                <tr style="background-Color:#eeeeee;">
                    <td colspan="5" height="25" align="center"><b>Tổng quỹ nhận</b></td>
                    <td align="right" style="padding-right:5px;"><b><?= number_format($total_in, 0, ",", " ") ?></b></td>
                </tr>
                <?php
            }
        }
        $inv_out = get_data("SELECT fund.inv_code, fund.inv_id, fund.created_date, fund.amount, fund.comment, fundfrom.fund_name from_name, fundto.fund_name to_name, usr.full_name
                              FROM users usr, fund fundfrom, fund fundto, fund_invoices fund
                              WHERE usr.user_id=fund.user_id AND fund.fund_from = fundfrom.fund_id AND 
                              fund.fund_to = fundto.fund_id AND fund.fund_from=" . $return_val['fund_id'] . (!empty($return_val['user_id']) ? " AND fund.user_id=" . $return_val['user_id'] : '')
                . " and  fund.created_date between " . $sdate . " and " . $edate . "
                              ORDER BY   fund.fund_to, fund.created_date DESC");
        if (count($inv_out) > 0) {
            if (count($inv_in) == 0) {
                ?>
                <table align="center" width="98%" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">
                    <tr>
                        <td width="12%" align="center" bgcolor="#afd7ff" height="25"><b>Số chứng từ</b></td>
                        <td width="16%" align="center" bgcolor="#afd7ff"><b>Thời gian</b></td>
                        <td width="18%" align="center" bgcolor="#afd7ff"><b>Người thực hiện</b></td>
                        <td width="18%" align="center" bgcolor="#afd7ff"><b>Tài khoản chuyển</b></td>
                        <td width="18%" align="center" bgcolor="#afd7ff"><b>Tài khoản nhận</b></td>
                        <td  align="center" bgcolor="#afd7ff"><b>Số tiền</b></td>
                    </tr>
            <?php
        }
        for ($i = 0; $i < count($inv_out); $i++) {
            ?>
                    <tr  <?= $action->eda_type != 'ajax' ? ' style="cursor:pointer;" onmouseover="this.style.backgroundColor=\'yellow\';" onmouseout="this.style.backgroundColor=\'\';" onclick="window.open(\'?eda_code=aba1e9d71cadc02500a038a2d6c2ab3e&eda_type=ajax&eda_module=finance/move_fund_view&eda_id=' . $inv_out[$i]['inv_id'] . '\');"' : '' ?>>
                        <td align="center" height="25"><?= $inv_out[$i]['inv_code'] ?></td>
                        <td align="center"><?= date('d/m/Y H:i', $inv_out[$i]['created_date']) ?></td>
                        <td style="padding-left:5px;"><?= $inv_out[$i]['full_name'] ?></td>
                        <td style="padding-left:5px;"><?= $inv_out[$i]['from_name'] ?></td>
                        <td style="padding-left:5px;"><?= $inv_out[$i]['to_name'] ?></td>
                        <td align="right" style="padding-right:5px;"><?= number_format($inv_out[$i]['amount'], 0, ",", " ") ?></td>
                    </tr>
            <?php
            $total_out+=$inv_out[$i]['amount'];
        }
        if (!empty($return_val['fund_id'])) {
            ?>
                    <tr style="background-Color:#eeeeee;">
                        <td colspan="5" height="25" align="center"><b>Tổng quỹ chuyển</b></td>
                        <td align="right" style="padding-right:5px;"><b><?= number_format($total_out, 0, ",", " ") ?></b></td>
                    </tr>
                    <?php
                }
                ?>
        <?php
    }
    if (count($inv_in) > 0 || count($inv_out) > 0) {
        echo '<tr style="background-Color:#afd7ff;">
		<td colspan="5" height="25" align="center"><b>Tổng cộng (Nhận - Chuyển)</b></td>
		<td align="right" style="padding-right:5px;"><b>' . number_format($total_in - $total_out, 0, ",", " ") . '</b></td>
            </tr>
	</table>
		<table><tr><td><img src="'.ROOT_URL.'bms/images/spacer.gif" height="10"></td></tr></table>';
    }
}
?>
        <table align="center" width="98%" border="1" cellpadding="0" cellspacing="0" bordercolor="#6a9cd0"  style="border-collapse:collapse">		
        <?php
        if (@!empty($_GET['fund_id'])) {
            $dk = get_data("select amount, fund_name from fund where fund_id='" . $_GET['fund_id'] . "'");
            if (count($dk) > 0) {
                $dauky = $dk[0][0];
                echo ' <tr style="background-Color:#eeeeee;">
			<td colspan="5" height="25" style="padding-left:10px;"><b>Số dư đầu kỳ (' . $dk[0][1] . ')</b></td>
			<td align="right" style="padding-right:5px;"><b>' . number_format($dauky, 0, ",", " ") . '</b></td>
			</tr>';
            } else {
                $dauky = 0;
            }
        } else {
            $dk = get_data("select sum(amount) amount from fund");
            $dauky = $dk[0][0];
            echo ' <tr style="background-Color:#eeeeee;">
                <td colspan="5" height="25" style="padding-left:10px;"><b>Số dư đầu kỳ</b></td>
                <td align="right" style="padding-right:5px;"><b>' . number_format($dauky, 0, ",", " ") . '</b></td>
                </tr>';
        }
        $sum_before = 0;
        $sum_after = 0;
        if (count($bin_before) > 0) {
            if ($bin_before[0]['bin_type'] == 0) {
                $sum_before+=$bin_before[0]['amount'];
            } else {
                $sum_before-=$bin_before[0]['amount'];
            }
            if (isset($bin_before[1]['bin_type'])) {
                $sum_before-=$bin_before[1]['amount'];
                if (isset($bin_before[2]['bin_type'])) {
                    $sum_before-=$bin_before[2]['amount'];
                }
            }
        }
        if (count($bin_after) > 0) {
            if ($bin_after[0]['bin_type'] == 0) {
                $sum_after+=$bin_after[0]['amount'];
            } else {
                $sum_after-=$bin_after[0]['amount'];
            }
            if (isset($bin_after[1]['bin_type'])) {
                $sum_after-=$bin_after[1]['amount'];
                if (isset($bin_after[2]['bin_type'])) {
                    $sum_after-=$bin_after[2]['amount'];
                }
            }
        }
        $inv_before = 0;
        $inv_after = 0;
        if (!empty($return_val['fund_id'])) {
            $inv_in_before = get_data("SELECT sum(fund.amount) amount    FROM fund_invoices fund
                              WHERE  fund.fund_to=" . $return_val['fund_id'] . (!empty($return_val['user_id']) ? " AND fund.user_id=" . $return_val['user_id'] : '')
                    . " and  fund.created_date < " . $sdate);
            $inv_out_before = get_data("SELECT sum(fund.amount) amount    FROM fund_invoices fund
                              WHERE  fund.fund_from=" . $return_val['fund_id'] . (!empty($return_val['user_id']) ? " AND fund.user_id=" . $return_val['user_id'] : '')
                    . " and  fund.created_date < " . $sdate);
            if (count($inv_in_before) > 0) {
                $inv_before+=$inv_in_before[0][0];
            }
            if (count($inv_out_before) > 0) {
                $inv_before-=$inv_out_before[0][0];
            }
            $inv_in_after = get_data("SELECT sum(fund.amount) amount    FROM fund_invoices fund
                              WHERE  fund.fund_to=" . $return_val['fund_id'] . (!empty($return_val['user_id']) ? " AND fund.user_id=" . $return_val['user_id'] : '')
                    . " and  fund.created_date > " . $edate);
            $inv_out_after = get_data("SELECT sum(fund.amount) amount    FROM fund_invoices fund
                              WHERE  fund.fund_from=" . $return_val['fund_id'] . (!empty($return_val['user_id']) ? " AND fund.user_id=" . $return_val['user_id'] : '')
                    . " and  fund.created_date > " . $edate);
            if (count($inv_in_after) > 0) {
                $inv_after+=$inv_in_after[0][0];
            }
            if (count($inv_out_after) > 0) {
                $inv_after-=$inv_out_after[0][0];
            }
        }
        ?>		
            <tr style="background-Color:#eeeeee;">
                <td colspan="5" height="25" style="padding-left:10px;"><b>Tổng Thu - Chi trước kỳ</b></td>
                <td align="right" style="padding-right:5px;"><b><?= number_format($sum_before + $inv_before, 0, ",", " ") ?></b></td>
            </tr>
            <tr style="background-Color:#eeeeee;">
                <td colspan="5" height="25" style="padding-left:10px;"><b>Tổng Thu - Chi trong kỳ (<?= !empty($return_val['datefrom']) ? $return_val['datefrom'] : 'Tất cả' ?> - <?= !empty($return_val['dateto']) ? $return_val['dateto'] : date('d/m/Y') ?>)</b></td>
                <td align="right" style="padding-right:5px;"><b><?= number_format($amount_in - $amount_out + $total_in - $total_out+floatval(@$amount_), 0, ",", " ") ?></b></td>
            </tr>	
            <tr style="background-Color:#eeeeee;">
                <td colspan="5" height="25" style="padding-left:10px;"><b>Tổng Thu - Chi sau kỳ</b></td>
                <td align="right" style="padding-right:5px;"><b><?= number_format($sum_after + $inv_after, 0, ",", " ") ?></b></td>
            </tr>		
            <tr style="background-Color:#afd7ff;">
                <td colspan="5" height="25" style="padding-left:10px;"><b>Tổng cộng (Tồn đầu kỳ + Thu - chi toàn kỳ)</b></td>
                <td align="right" style="padding-right:5px;"><b><?= number_format($dauky + $sum_after + $sum_before + $inv_after + $inv_before + $amount_in - $amount_out + $total_in - $total_out+floatval(@$amount_), 0, ",", " ") ?></b></td>
            </tr>		
        </table>
