<?php
if (isset($return_val["datefrom"])) {
    $sdate = explode("/", $return_val["datefrom"]);
    if ($sdate[0] > 0 && $sdate[0] <= 31 && $sdate[1] > 0 && $sdate[1] <= 12 && $sdate[2] <= date('Y')) {
        $sdate = mktime(0, 0, 0, $sdate[1], $sdate[0], $sdate[2]);
    }
}
if (!isset($sdate)) {
    $sdate = mktime(0, 0, 0, date('m'), date('d'), date('Y'));
    $return_val["datefrom"] = date('d/m/Y', $sdate);
}
if (isset($return_val["dateto"])) {
    $edate = explode("/", $return_val["dateto"]);
    if ($edate[0] > 0 && $edate[0] <= 31 && $edate[1] > 0 && $edate[1] <= 12 && $edate[2] <= date('Y')) {
        $edate = mktime(23, 59, 59, $edate[1], $edate[0], $edate[2]);
    }
}
if (!isset($edate)) {
    $edate = mktime(23, 59, 59, date('m'), date('d'), date('Y'));
}
if ($action->eda_type != 'ajax') {
    ?>
    <Script type="text/javascript" src="<?=ROOT_URL?>bms/common/CalendarPopup.js"></Script>
    <script language="javaScript" id="jscal1x">
        var cal = new CalendarPopup("calendarpopup");
        cal.setTodayText("Hôm nay");
        cal.showNavigationDropdowns();
        cal.setYearSelectStartOffset(20);
        cal.setMonthNames("Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12");
        cal.setDayHeaders("CN", "T2", "T3", "T4", "T5", "T6", "T7");
    </script>
    <SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
    <DIV ID="calendarpopup" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
    <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom:0px;border-left:0px;border-right:0px;">
        <tr>
            <td width="30" align="center">
                <img style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/money.png" width="18" height="18"/>        
            </td>
            <td  height="25"><b>Báo cáo Thu/Chi</b></td>
            <td align="right" style="padding-right:5px;"><img onclick="window.location = '?';" style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/back.gif" height="18"/></td>
        </tr>
    </table>
    <table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height=5><img src="<?=ROOT_URL?>bms/images/spacer.gif" height=10></td>
        </tr>
    </table>

    <table align="center" width="98%" border="0" cellspacing="0" cellpadding="0">
        <tr>
         <td width="60"><b>Từ ngày</b></td>
      <td width="70">
        <input readonly style="width:70px;" class="catbg"  onclick="cal.select(document.getElementById('datefrom'),'anchor1','dd/MM/yyyy');if(document.getElementById('datefrom').value==''){d = new Date(); CP_refreshCalendar(0,1+d.getMonth(),d.getFullYear())}; return false;" class="textbox" value="<?= isset($return_val['datefrom'])?$return_val['datefrom']:''?>" onBlur="check_date(this);" name="datefrom" id="datefrom" type="text" />
        </td><td width="50">
        <A href="javascript:void()" onclick="cal.select(document.getElementById('datefrom'),'anchor1','dd/MM/yyyy'); if(document.getElementById('datefrom').value==''){d = new Date(); CP_refreshCalendar(0,1+d.getMonth(),d.getFullYear())}; return false;"><img  NAME="anchor1" ID="anchor1" src="<?=ROOT_URL?>/bms/images/icon/calendar.gif" height="18" border="0"></A>
        </td>
      <td width="70" style="padding-right:15px;" align="right"><b>Đến ngày</b></td>
      <td width="70">
        <input readonly style="width:70px;" class="catbg"  onclick="cal.select(document.getElementById('dateto'),'anchor2','dd/MM/yyyy');if(document.getElementById('dateto').value==''){d = new Date(); CP_refreshCalendar(0,1+d.getMonth(),d.getFullYear())}; return false;" class="textbox" value="<?= isset($return_val['dateto'])?$return_val['dateto']:date('d/m/Y')?>" onBlur="check_date(this);" name="dateto" id="dateto" type="text" />
        </td> <td width="50">
        <A href="javascript:void()" onclick="cal.select(document.getElementById('dateto'),'anchor2','dd/MM/yyyy'); if(document.getElementById('dateto').value==''){d = new Date(); CP_refreshCalendar(0,1+d.getMonth(),d.getFullYear())}; return false;"><img  NAME="anchor2" ID="anchor2" src="<?=ROOT_URL?>/bms/images/icon/calendar.gif" height="18" border="0"></A>
        </td>      
            <td colspan="2" align="right">
                <select style="width:140px;" class="catbg" name="fund_id" id="fund_id">
                    <option value="">Tất cả Quỹ/Tài khoản</option>
    <?php
    $fund_id = get_data("select * from fund order by fund_name");
    for ($i = 0; $i < count($fund_id); $i++)
        echo '<option ' . (isset($return_val['fund_id']) ? ($return_val['fund_id'] == $fund_id[$i]['fund_id'] ? 'selected' : '') : '') . ' value="' . $fund_id[$i]['fund_id'] . '">' . $fund_id[$i]['fund_name'] . '</option>';
    ?>              
                </select>            
            </td>
            <td style="padding-left:20px;"><b>Người Thu/Chi</b></td>
            <td colspan="2">
                <select style="width:175px;" class="catbg" name="user_id" id="user_id">
                    <option value="">Tất cả</option>
    <?php
    $usr = get_data("select user_id, user_name, full_name from users");
    for ($i = 0; $i < count($usr); $i++)
        echo '<option ' . (isset($return_val['user_id']) ? ($return_val['user_id'] == $usr[$i]['user_id'] ? 'selected' : '') : '') . ' value="' . $usr[$i]['user_id'] . '">' . $usr[$i]['full_name'] . ' (' . $usr[$i]['user_name'] . ')</option>';
    ?>              
                </select> 	
            </td>		
            <td colspan="2"></td>
        </tr>
        <tr>
            <td height="30" style="padding-right:5px;" align="right"><input id="report_type1" <?= (isset($return_val['report_type']) ? ($return_val['report_type'] == 1 ? 'checked' : '') : 'checked') ?> type="radio" name="report_type" value="1"/></td>
            <td colspan="2" height="25"><a class="cart_payment" href="javascript:void()" onclick="document.getElementById('report_type1').checked = !document.getElementById('report_type1').checked">Hiển thị theo phiếu</a></td>
            <td align="right" style="padding-right:5px;"><input id="report_type2" <?= (isset($return_val['report_type']) ? ($return_val['report_type'] == 2 ? 'checked' : '') : '') ?> type="radio" name="report_type" value="2"/></td>
            <td colspan="2"><a class="cart_payment" href="javascript:void()" onclick="document.getElementById('report_type2').checked = !document.getElementById('report_type2').checked">Hiển thị theo khoản</a></td>
            <td width="60" style="padding-left:20px;"><b>Thu/Chi</b></td>
            <td width="80">
                <select onchange="load_item_type(this.value);" style="width:80px;" class="catbg" name="bin_type" id="bin_type">
                    <option value="-2">Tất cả trừ đơn nhập hàng</option>
                    <option <?= (isset($return_val['bin_type']) ? ($return_val['bin_type'] == -1 ? 'selected' : '') : '') ?> value="-1">Tất cả</option>
                    <option <?= (isset($return_val['bin_type']) ? ($return_val['bin_type'] == 0 ? 'selected' : '') : '') ?> value="0">Khoản thu</option>
                    <option <?= (isset($return_val['bin_type']) ? ($return_val['bin_type'] == 1 ? 'selected' : '') : '') ?> value="1">Khoản chi</option>
                    <option <?= (isset($return_val['bin_type']) ? ($return_val['bin_type'] == 3 ? 'selected' : '') : '') ?> value="3">Khoản chi trả lại</option>
                </select>        
            </td>
            <td width="100" style="padding-left:20px;"><b>Loại khoản</b></td>
            <td width="120">
                <select style="width:120px;" class="catbg" name="item_id" id="item_id">
                    <option value="-1">Tất cả</option>
    <?php
    if (isset($return_val['bin_type']))
        if ($return_val['bin_type'] != -1) {
            $item = get_data("select * from item_type where item_type='" . $return_val['bin_type'] . "' order by item_name");
            for ($i = 0; $i < count($item); $i++)
                echo '<option ' . (isset($return_val['item_id']) ? ($return_val['item_id'] == $item[$i]['item_id'] ? 'selected' : '') : '') . ' value="' . $item[$i]['item_id'] . '">' . $item[$i]['item_name'] . '</option>';
        }
    ?>                       
                </select> 
            </td>
            <td style="padding-left:10px;"><input onclick="window.location = '?eda_act=<?= md5('finance') ?>&eda_code=<?= md5('budget_report') ?>&datefrom=' + document.getElementById('datefrom').value + '&dateto=' + document.getElementById('dateto').value + '&item_id=' + document.getElementById('item_id').value + '&bin_type=' + document.getElementById('bin_type').value + '&fund_id=' + document.getElementById('fund_id').value + '&report_type=' + get_radio() + '&user_id=' + document.getElementById('user_id').value;" type="button" value="Xem" class="button"></td> 
            <td  height="30" style="padding-left:5px;" width="30">
                <img src="<?=ROOT_URL?>bms/images/icon/excel.png" height="24">
            </td>
            <td   style="padding-left:5px;">
                <a class="cart_payment" href="javascript:void()" onclick="window.open('?eda_code=<?= md5('excel_export') ?>&eda_type=ajax&eda_module=budget&datefrom=' + document.getElementById('datefrom').value + '&dateto=' + document.getElementById('dateto').value + '&item_id=' + document.getElementById('item_id').value + '&bin_type=' + document.getElementById('bin_type').value + '&fund_id=' + document.getElementById('fund_id').value + '&report_type=' + get_radio() + '&user_id=' + document.getElementById('user_id').value);" target="_blank"><b>Xuất Excel</b></a>
            </td>             
        </tr>	
        <table>
    <?php
} else {
    ?>
            <table align="center" width="98%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="220" height="30"><b>Từ ngày:</b> <?= !empty($return_val['datefrom']) ? $return_val['datefrom'] : 'Tất cả' ?> - <?= !empty($return_val['dateto']) ? $return_val['dateto'] : date('d/m/Y') ?>
                    </td> 
                    <td width="180"><b>Khoản: </b>
            <?php
            $fundtype = isset($return_val['bin_type']) ? ($return_val['bin_type'] == 0 ? 'Thu' : ($return_val['bin_type'] == 1 ? 'Chi' : 'Tất cả')) : 'Tất cả';
            if ($fundtype != 'Tất cả') {
                $item = get_data("select item_name from item_type where item_id='" . $return_val['item_id'] . "'");
                if (count($item) > 0) {
                    echo $fundtype . " - " . $item[0]['item_name'];
                }
            } else {
                echo "Tất cả";
            }
            ?>                 
                    </td>
                    <td height="25" align="left" width="200"><b>Quỹ/Tài khoản: </b>
                        <?php
                        $fund = get_data("select fund_name from fund where fund_id='" . $return_val['fund_id'] . "'");
                        if (count($fund) > 0)
                            echo $fund[0]['fund_name'];
                        else
                            echo "Tất cả";
                        ?>
                    </td>        
                    <td><b>Người Thu/Chi: </b>
                        <?php
                        $item = get_data("select full_name from users where user_id='" . $return_val['user_id'] . "'");
                        if (count($item) > 0)
                            echo $item[0]['full_name'];
                        else
                            echo "Tất cả";
                        ?>                 
                    </td>        
                </tr>
                <table>
                        <?php
                    }

                    if (empty($return_val['report_type']))
                        $return_val['report_type'] = 1;
                    if ($return_val['report_type'] == 1)
                        include ('bms/templates/finance/budget_report_inv.htm');
                    else
                        include ('bms/templates/finance/budget_report_cat.htm');
                    if ($action->eda_type != 'ajax') {
                        ?>	
                    <table width="100%"  border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height=5><img src="<?=ROOT_URL?>bms/images/spacer.gif" height=10></td>
                        </tr>
                    </table>
                    <table class="catbg" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top:0px;border-left:0px;border-right:0px;">
                        <tr>
                            <td  height="30" style="padding-left:5px;" width="30">
                                <img src="<?=ROOT_URL?>bms/images/icon/preview.gif" height="24">
                            </td>
                            <td width="150"  style="padding-left:5px;">
                                <a class="cart_payment" href="javascript:void()" onclick="preview();"><b>Xem dạng in ấn</b></a>
                            </td>     
                            <td  height="30" style="padding-left:5px;" width="30">
                                <img src="<?=ROOT_URL?>bms/images/icon/excel.png" height="24">
                            </td>
                            <td   style="padding-left:5px;">
                                <a class="cart_payment" href="javascript:void()" onclick="window.open('?eda_code=<?= md5('excel_export') ?>&eda_type=ajax&eda_module=budget&datefrom=' + document.getElementById('datefrom').value + '&dateto=' + document.getElementById('dateto').value + '&item_id=' + document.getElementById('item_id').value + '&bin_type=' + document.getElementById('bin_type').value + '&fund_id=' + document.getElementById('fund_id').value + '&report_type=' + get_radio() + '&user_id=' + document.getElementById('user_id').value);" target="_blank"><b>Xuất Excel</b></a>
                            </td>                             
                            <td align="right" style="padding-right:5px;"><img  onclick="window.location = '?';" style="cursor:pointer;" src="<?=ROOT_URL?>bms/images/icon/back.gif" height="18"/></td>
                        </tr>
                    </table>          
    <?php
}
?>
                <script language="javascript">
                    function get_radio()
                    {
                        return (document.getElementById('report_type1').checked ? 1 : 2)
                    }
                    function load_item_type(v)
                    {
                        if (v != -1)
                            load('?eda_type=ajax&eda_code=<?= md5("load_item_type") ?>&eda_id=' + v, 'item_id', 'listbox', 'GET', null, 'no');
                    }
                    function preview()
                    {
                        window.open('?eda_code=<?= md5("view_report") ?>&eda_type=ajax&eda_module=finance/budget_report&datefrom=' + document.getElementById('datefrom').value + '&dateto=' + document.getElementById('dateto').value + '&fund_id=' + document.getElementById('fund_id').value + '&item_id=' + document.getElementById('item_id').value + '&bin_type=' + document.getElementById('bin_type').value + '&user_id=' + document.getElementById('user_id').value);
                    }
                </script>
